/*!
Theme Name: chotu
Theme URI: http://zonvoir.com/
Author: Mohd Nadeem
Author URI: http://zonvoir.com/
Description: Description
Version: 2.0.2
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: chotu.com
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

chotu is based on Underscores https://chotu.com/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */@media only screen and (min-width:620px) and (max-width:1000px){.mobileView{width:60%}}@media only screen and (min-width:1001px){.mobileView{width:30%}}.iconify{position:absolute;height:1.25rem;width:1.25rem;margin-left:2.125rem;margin-top:2.125rem;color:#737373}.chotu-nav-carousel{position:relative}html{margin:0!important}html{margin:0!important}.mobileView{position:relative}h1{letter-spacing:-.063rem}h5{font-size:.875rem;font-weight:600;letter-spacing:0}h6{font-size:.75rem;font-weight:600;letter-spacing:.009rem}.button{font-size:.625rem;font-weight:600;letter-spacing:.063rem;text-transform:uppercase}.caption{font-size:.75rem;font-weight:500!important;letter-spacing:.025rem;color:#696969}.body-1{font-size:1rem;font-weight:400;letter-spacing:.031rem}.body-2{font-size:.875rem;font-weight:400;letter-spacing:.016rem}body{font-family:Montserrat!important;background-color:#fff!important}.mobileView{border-radius:.5rem;background-color:#efeef3!important}.card{width:100%;background:#fff;border-radius:.75rem!important;border:.063rem solid #e8e8e8!important;box-shadow:rgb(239 238 243) 0 .4rem 1.8rem!important}.card-img-top-cl{border-top-left-radius:.75rem;border-top-right-radius:.75rem}.container{width:96%!important}h5{border-radius:.375rem;border:none;box-shadow:rgb(239 238 243) 0 .4rem 1.8rem!important;background-color:#fff;padding:.813rem;display:inline-block;width:100%;position:relative;margin-bottom:.938rem!important}h5:after{content:"";position:absolute;bottom:-.313rem;height:.75rem;width:.75rem;background-color:#fff;left:.75rem;transform:rotate(45deg);background-color:#fff}.card-title{text-transform:capitalize;padding-bottom:.313rem;margin-bottom:.25rem}.order_before_time_card small img{width:1.125rem;object-fit:contain;filter:invert(22%) sepia(94%) saturate(700%) hue-rotate(168deg) brightness(89%) contrast(95%)}.filter_blue{filter:invert(22%) sepia(94%) saturate(700%) hue-rotate(168deg) brightness(89%) contrast(95%)}.filter_white{filter:invert(100%) sepia(0) saturate(7431%) hue-rotate(113deg) brightness(114%) contrast(110%)}.filter_beige{filter:invert(97%) sepia(99%) saturate(858%) hue-rotate(303deg) brightness(95%) contrast(108%)}.card-body a,.url_param a{float:right}.card-body small{margin-top:.25rem;display:initial}.card-body.url_param .order_before_time_card{text-overflow:ellipsis;-webkit-line-clamp:1;white-space:nowrap;overflow:hidden;width:100%}.card-body p{margin-bottom:0;margin-top:0}.card-body a,.url_param a{float:right;padding:.375rem .625rem;border-radius:.75rem;text-transform:uppercase;height:1.625rem}.order_before_time_card{display:flex;justify-content:space-between}.order_before_time_card span{letter-spacing:0;color:#696969}.can_buy{text-decoration:inherit;display:inline-block;margin-bottom:.25rem}.card-body{padding:.75rem .625rem}a.pull-right.caption.text-decoration-none.text-primary{margin-bottom:.25rem;display:block;width:100%;text-align:right}.caption_banner{top:50%;left:50%;transform:translate(-50%,-50%);width:100%}.caption_banner p{font-size:1rem;font-weight:500;letter-spacing:0;margin-bottom:.313rem}.caption_banner small{font-size:.688rem;font-weight:500;letter-spacing:.025rem}marquee{margin-bottom:.5rem}.astm-search-menu-wrapper{display:none}#slugdiv{display:none}.navbar-dark .navbar-toggler{border-color:transparent}div#Toggler{position:absolute;left:0;right:0;background-color:#fff;z-index:999999}#primary-menu li{border-bottom:.063rem solid #dee2e6!important}#primary-menu li a{padding:.5rem .938rem}.inner_page_caption{position:absolute;bottom:.875rem;left:0;right:0;max-width:80%;margin:0 auto;color:#fff;text-align:center}.inner_page_caption span{color:#fff;font-weight:200}.profile_pic{position:absolute;left:0;right:0;bottom:-1.25rem}.profile_pic img{height:6.25rem;width:6.25rem;border-radius:50%;border:.188rem solid #efeef3;box-shadow:0 .25rem .5rem 0 rgb(0 0 0 / 9%),0 .375rem 1.25rem 0 rgb(0 0 0 / 2%)}.captain_dis{margin-top:1.625rem!important;margin-bottom:.75rem!important}.all_radio_data_wrap{margin-bottom:.625rem}.wrap_footer_link a{text-decoration:none}.wrap_footer_link{text-align:center}.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:#6c6c6c!important;border-color:#6c6c6c!important}#loginModal .modal-footer{display:none}#loginModal .close_icon{font-size:1.563rem}#loginModal .modal-header{padding:.25rem 1.125rem}.submit_button{color:#fff;font-size:.625rem!important;font-weight:400;letter-spacing:.063rem;text-transform:uppercase}#lwp_login.ajax-auth input.lwp_username{border:.063rem solid #ccc!important}.navbar-dark .navbar-toggler-icon{background-image:initial!important}.header_panel{background:#fff}.header_panel nav{padding-top:0!important;padding-bottom:0!important;height:8.75%}.custom-logo-link img{width:100%!important;height:100%!important;object-fit:contain}.t_right{text-align:right}.navbar-toggler-icon{width:auto!important;height:auto!important}.wrap_1{width:20%}.wrap_2{width:60%;text-align:center}.wrap_3{width:20%;text-align:right}.last_grid .card{padding:1.25rem 0;position:relative;overflow:hidden}.last_grid .card h6{padding:.438rem 1.375rem 0 1.313rem}.home_page_baner{padding:1.563rem 0;position:absolute;right:0;text-align:center;z-index:99;top:50%;left:50%;transform:translate(-50%,-50%);width:100%}.home_bg_img{position:relative;background-size:cover;background-position:center}.home_bg_img:after{content:"";position:absolute;top:0;bottom:0;left:0;right:0;opacity:.5}.home_page_baner h6{margin-bottom:0}#ajaxsearchlite1 .probox,div.asl_w .probox{border:.125rem solid #fff!important}.marquee_header{overflow:hidden;white-space:nowrap}.marquee-content{display:inline-block;padding-left:100%;margin-top:0;animation:marquee 50s linear infinite;margin-bottom:.5rem}@keyframes marquee{0%{transform:translateX(0)}100%{transform:translateX(-100%)}}.captain_single_page,.image_container,.locality_single_page{width:100%;padding-top:61.8%;position:relative}.captain_single_page .card-img-top,.image_container img,.locality_single_page .card-img-top{width:100%;height:100%;object-fit:cover;position:absolute;bottom:0}.home_bg_img{padding-top:61.8%}.share-button-banner{position:absolute;top:0}.wrap_share_btn{position:absolute;top:0;right:0}.team_pic img{width:7.5rem;height:7.5rem;border-radius:50%;margin:.125rem auto;display:table;border:.25rem solid #f7c0a5}.img_about img{width:100%;border-radius:.5rem}.about_list{padding-left:.938rem;margin-bottom:0}.about_list li{margin-bottom:.313rem}.wrap_privacy p{font-size:.75rem;font-weight:500!important;letter-spacing:.025rem;color:#696969}.wrap_privacy ul{padding-left:.938rem}.wrap_privacy ul li{font-size:.75rem;font-weight:500!important;letter-spacing:.025rem;color:#696969}@media (max-width:767px){.marquee_cl{height:1.5rem}.marquee_cl small{font-size:.625rem;line-height:1rem;padding-bottom:.125rem;padding:.25rem .563rem}}@media (min-width:768px) and (max-width:979px){.marquee_cl{height:1.625rem}.marquee_cl small{font-size:.625rem;line-height:1rem;padding-bottom:.125rem;padding:.25rem .563rem}}.nav_line{height:2px;width:18px;background-color:#fbc899;margin:3px 0}.navbar-toggler:focus{box-shadow:inherit!important}.balance_header a{position:absolute;top:50%;right:12px;transform:translate(0%,-50%)}