/*
Theme Name:   	Storefront Child Theme
Theme URI:    	https:chotu.com
Author:       	Mohd Nadeem
Author URI:     http://techglowit.com
Template:     	storefront
Description:  	This is a store front child theme for WooThemes StoreFront theme
Version:      	1.0.1
License:      	GNU General Public License v2 or later
License URI:  	http://zonvoir.com
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
*/
/*
 * Add your own custom css below this text.
 */



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,900&display=swap');


body{
      font-family: 'Montserrat' !important;
}
h1 {letter-spacing: -0.063rem !important;}
h2, h3, h4, h6{font-size: 0.75rem !important;font-weight: 600 !important;letter-spacing: 0.009rem !important;}
h5{font-size: 0.875rem!important;font-weight: 600;letter-spacing: 0rem!important;}
h6{font-size: 0.75rem!important; font-weight: 600; letter-spacing: 0.009rem!important;}
.button{font-size: 0.625rem!important; font-weight: 600;   letter-spacing: 0.063rem!important; text-transform: uppercase; }
p, span, marquee, .site-info, .woocommerce-result-count, .caption{
    font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    color: rgb(105, 105, 105);
}

ul.products.columns-3 li.product {
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 0.75rem !important;
    border: 0.063rem solid rgb(232, 232, 232) !important;
    box-shadow: rgb(239 238 243) 0rem 0.4rem 1.8rem !important;
}
ul.products li.product img, ul.products .wc-block-grid__product img, .wc-block-grid__products li.product img, .wc-block-grid__products .wc-block-grid__product img{
    /*box-shadow: 0 0 20px #000 !important;*/
}

body, button, input, textarea {
    font-family: 'Montserrat' !important;
    background-color: #efeef3 !important;
}
  
.thumb-image-renderd{
    padding-top: 100%;
    position: relative;
    margin-bottom: 20px;
}
.size-woocommerce_thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
  }

.storefront-handheld-footer-bar ul.columns-3 li:first-child, .storefront-handheld-footer-bar ul.columns-3 li:last-child {
    width: 25% !important;
}
.storefront-handheld-footer-bar ul.columns-3 li.my-account {
    width: 50% !important;
}

.site-footer .storefront-handheld-footer-bar a:not(.button):not(.components-button) {
   background-color: #efeef3 !important
}

 .site-footer .storefront-handheld-footer-bar a:not(.button):not(.components-button) {
    color: #fdcb9e;
}
.storefront-handheld-footer-bar ul li.cart .count {
    background-color: #0f4c75;
}


a.added_to_cart.wc-forward {
        display: none;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    background-color: unset!important;
    color: #0f4c75 !important;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    background-color: unset!important;
    border-color: unset!important;
}
ul li a {
    font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    color: rgb(105, 105, 105);
}
.site-branding .site-description{
    font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    color: rgb(105, 105, 105);
}
.storefront-handheld-footer-bar {
    height: 50px !important;
}
button.single_add_to_cart_button.button.alt {
    color: #0f4c75 !important
}
.hentry .entry-header {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.009rem !important;
}
table.cart th, table.cart td ,table.shop_table th, table.shop_table td{
    padding: 1.618em;
    font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    color: rgb(105, 105, 105);
}
#payment .payment_methods {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.009rem;
}
.hentry .entry-header h1 {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.009rem !important;
}
button#place_order {
    background-color: #0f4c75!important;
    color: #eee !important;
}
.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    /* color: rgb(105, 105, 105); */
}
ul.order_details li strong {
   font-size: 0.875rem !important; font-weight !important: 600;letter-spacing: 0rem !important;
}
ul.order_details li {
    font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    color: rgb(105, 105, 105);
}
.added_to_cart.alt, .added_to_cart, .widget a.button.checkout {
    background-color: #0f4c75 !important;
    border-color: #0f4c75 !important;
}
/*Mobile*/
@media (max-width:767px) {
    .site-branding .site-title{
        font-size: 0.875rem !important; font-weight: 600 !important; letter-spacing: 0.009rem; margin-top: 14px;
    }
    .site-branding .site-description{
        font-size: 0.75rem;
        font-weight: 500 !important;
        letter-spacing: 0.025rem;
        color: rgb(105, 105, 105);
    }
}

/*small mobile devices*/
@media (min-width:320px) and (max-width:480px) {
    .site-branding .site-title{
        font-size: 0.875rem !important; font-weight: 600 !important; letter-spacing: 0.009rem; margin-top: 14px;
    }
    .site-branding .site-description{
        font-size: 0.75rem;
        font-weight: 500 !important;
        letter-spacing: 0.025rem;
        color: rgb(105, 105, 105);
    }
}


/*landscape mobiles devices*/
@media (max-width:736px) and (orientation:landscape) {
    .site-branding .site-title{
        font-size: 0.875rem !important; font-weight: 600 !important; letter-spacing: 0.009rem; margin-top: 14px;
    }
    .site-branding .site-description{
        font-size: 0.75rem;
        font-weight: 500 !important;
        letter-spacing: 0.025rem;
        color: rgb(105, 105, 105);
    }
    
}