<div class='progress-msg'>Mon, 29 Nov 2021 18:43:43 +0530</div>
<div class='progress-msg'>[18:43:43] Composing titles...</div>
<div class='progress-msg'>[18:43:43] Composing excerpts...</div>
<div class='progress-msg'>[18:43:43] Composing duplicate indicators...</div>
<div class='progress-msg'>[18:43:43] Composing slugs...</div>
<div class='progress-msg'>[18:43:43] Composing menu order...</div>
<div class='progress-msg'>[18:43:43] Composing contents...</div>
<div class='progress-msg'>[18:43:43] Composing dates...</div>
<div class='progress-msg'>[18:43:43] Composing terms for `Locality  Category` taxonomy...</div>
<div class='progress-msg'>[18:43:43] Composing terms for `Geography` taxonomy...</div>
<div class='progress-msg'>[18:43:43] Composing terms for `Tags` taxonomy...</div>
<div class='progress-msg'>[18:43:43] Composing custom parameters...</div>
<div class='progress-msg'>[18:43:43] Composing URLs for attachments files...</div>
<div class='progress-msg'>[18:43:43] Composing post comments...</div>
<div class='progress-msg'>[18:43:43] Composing unique keys...</div>
<div class='progress-msg'>[18:43:43] Processing posts...</div>
<div class='progress-msg'>[18:43:43] Data parsing via add-ons...</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #1</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `Eldeco City`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `Eldeco City`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `Eldeco City`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `Eldeco City`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `Eldeco City` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `Eldeco City` `Locality` (ID: 18290)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #2</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `Omaxe R2`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `Omaxe R2`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `Omaxe R2`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `Omaxe R2`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `Omaxe R2` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `Omaxe R2` `Locality` (ID: 18311)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #3</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `Omaxe City Lucknow`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `Omaxe City Lucknow`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `Omaxe City Lucknow`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `Omaxe City Lucknow`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `Omaxe City Lucknow` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `Omaxe City Lucknow` `Locality` (ID: 18332)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #4</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `Omaxe Residency 2`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `Omaxe Residency 2`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `Omaxe Residency 2`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `Omaxe Residency 2`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `Omaxe Residency 2` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `Omaxe Residency 2` `Locality` (ID: 18286)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #5</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `Paarth Republic`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `Paarth Republic`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `Paarth Republic`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `Paarth Republic`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `Paarth Republic` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `Paarth Republic` `Locality` (ID: 18265)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #6</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `DLF Garden City`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `DLF Garden City`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `DLF Garden City`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `DLF Garden City`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `DLF Garden City` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `DLF Garden City` `Locality` (ID: 18336)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #7</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `Eldeco Saubhagyam`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `Eldeco Saubhagyam`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `Eldeco Saubhagyam`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `Eldeco Saubhagyam`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `Eldeco Saubhagyam` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `Eldeco Saubhagyam` `Locality` (ID: 18271)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:43] ---</div>
<div class='progress-msg'>[18:43:43] Record #8</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:43] Combine all data for post `Rohtas Plumeria`...</div>
<div class='progress-msg'>[18:43:43] Find corresponding article among database for post `Rohtas Plumeria`...</div>
<div class='progress-msg'>[18:43:43] Duplicate post was found for post `Rohtas Plumeria`...</div>
<div class='progress-msg'>[18:43:43] Preserve taxonomies of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve date of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve status of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve content of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve title of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve slug of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve excerpt of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve menu order of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve post parent of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve post type of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve comment status of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve ping status of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Preserve post author of already existing article for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] Applying filter `pmxi_article_data` for `Rohtas Plumeria`</div>
<div class='progress-msg'>[18:43:43] <b>UPDATING</b> `Rohtas Plumeria` `Locality`</div>
<div class='progress-msg'>[18:43:43] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:43] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:43] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:43] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:43] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:43] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:43] <b>UPDATED</b> `Rohtas Plumeria` `Locality` (ID: 18292)</div>
<div class='progress-msg'>[18:43:43] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #9</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `BCC Green`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `BCC Green`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `BCC Green`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `BCC Green`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `BCC Green` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `BCC Green` `Locality` (ID: 18326)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #10</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Green Park Township`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Green Park Township`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Green Park Township`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Green Park Township`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Green Park Township` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Green Park Township` `Locality` (ID: 18276)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #11</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Sunbreeze I`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Sunbreeze I`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Sunbreeze I`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Sunbreeze I`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Sunbreeze I` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Sunbreeze I` `Locality` (ID: 18333)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #12</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Chandra Panorama`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Chandra Panorama`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Chandra Panorama`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Chandra Panorama`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Chandra Panorama` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Chandra Panorama` `Locality` (ID: 18379)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #13</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Spring Greens`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Spring Greens`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Spring Greens`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Spring Greens`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Spring Greens` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Spring Greens` `Locality` (ID: 18371)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #14</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Viraj BBD Green City Sun Breeze I`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Viraj BBD Green City Sun Breeze I`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Viraj BBD Green City Sun Breeze I`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Viraj BBD Green City Sun Breeze I`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Viraj BBD Green City Sun Breeze I` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Viraj BBD Green City Sun Breeze I` `Locality` (ID: 18362)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #15</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `MI Central Park`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `MI Central Park`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `MI Central Park`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `MI Central Park`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `MI Central Park` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `MI Central Park` `Locality` (ID: 18328)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #16</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Shalimar Gallant`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Shalimar Gallant`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Shalimar Gallant`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Shalimar Gallant`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Shalimar Gallant` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Shalimar Gallant` `Locality` (ID: 18412)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #17</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Ansal Sushant Golf City`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Ansal Sushant Golf City`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Ansal Sushant Golf City`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Ansal Sushant Golf City`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Ansal Sushant Golf City` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Ansal Sushant Golf City` `Locality` (ID: 18353)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #18</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `DLF MyPAD Studio Life`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `DLF MyPAD Studio Life`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `DLF MyPAD Studio Life`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `DLF MyPAD Studio Life`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `DLF MyPAD Studio Life` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `DLF MyPAD Studio Life` `Locality` (ID: 18354)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #19</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Paarth Aadyant`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Paarth Aadyant`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Paarth Aadyant`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Paarth Aadyant`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Paarth Aadyant` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Paarth Aadyant` `Locality` (ID: 18335)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] ---</div>
<div class='progress-msg'>[18:43:44] Record #20</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_before_post_import ...</div>
<div class='progress-msg'>[18:43:44] Combine all data for post `Shalimar Grand`...</div>
<div class='progress-msg'>[18:43:44] Find corresponding article among database for post `Shalimar Grand`...</div>
<div class='progress-msg'>[18:43:44] Duplicate post was found for post `Shalimar Grand`...</div>
<div class='progress-msg'>[18:43:44] Preserve taxonomies of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve date of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve status of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve content of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve title of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve slug of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve excerpt of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve menu order of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve post parent of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve post type of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve comment status of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve ping status of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Preserve post author of already existing article for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] Applying filter `pmxi_article_data` for `Shalimar Grand`</div>
<div class='progress-msg'>[18:43:44] <b>UPDATING</b> `Shalimar Grand` `Locality`</div>
<div class='progress-msg'>[18:43:44] <b>IMAGES:</b></div>
<div class='progress-msg'>[18:43:44] <b>TAXONOMIES:</b></div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `locality_category` ...</div>
<div class='progress-msg'>[18:43:44] - Locality locality_category has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `geography` ...</div>
<div class='progress-msg'>[18:43:44] - Locality geography has been skipped attempted to `Update only these taxonomies, leave the rest alone`...</div>
<div class='progress-msg'>[18:43:44] - Importing taxonomy `tags` ...</div>
<div class='progress-msg'>[18:43:44] - Attempted to create parent Locality tags `Keshav`, duplicate detected. Importing Locality to existing `Keshav` tags, ID 19444, slug `keshav` ...</div>
<div class='progress-msg'>[18:43:44] <b>UPDATED</b> `Shalimar Grand` `Locality` (ID: 18424)</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_saved_post</div>
<div class='progress-msg'>[18:43:44] <b>ACTION</b>: pmxi_after_post_import</div>
<div class='progress-msg'>[18:43:44] Cleaning temporary data...</div>
