.avia-section.av-jkjmqted-0a31360ef26a83aef921617ed6209cee{
background-color:#5a72fc;
background-repeat:no-repeat;
background-image:url(https://dev.chotu.shop/about/wp-content/uploads/sites/65/2018/10/hero-pattern.png), linear-gradient( to bottom right, #5a72fc, #fb4d4d );
background-position:50% 50%;
background-attachment:scroll;
}
#top .avia-section.av-jkjmqted-0a31360ef26a83aef921617ed6209cee .scroll-down-link{
color:#fb4d4d;
}
.avia-section.av-jkjmqted-0a31360ef26a83aef921617ed6209cee .av-extra-border-element .av-extra-border-inner{
background-color:#ffffff;
}

.flex_column.av-1xn9f-141c8585dcc99c202d2b7434c291b320{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jn37cxm2-44d1a71dbf047a24ba95b715a889a24e{
padding-bottom:0px;
font-size:5vw;
}
body .av-special-heading.av-jn37cxm2-44d1a71dbf047a24ba95b715a889a24e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jn37cxm2-44d1a71dbf047a24ba95b715a889a24e .av-special-heading-tag{
font-size:5vw;
}
.av-special-heading.av-jn37cxm2-44d1a71dbf047a24ba95b715a889a24e .av-subheading{
font-size:23px;
}

#top .hr.av-jkmadgt0-fb4324d2ebf6945479062011d9c52d9e{
margin-top:20px;
margin-bottom:15px;
}
.hr.av-jkmadgt0-fb4324d2ebf6945479062011d9c52d9e .hr-inner{
width:50px;
border-color:rgba(255,255,255,0.7);
}

#top .av_textblock_section.av-jkmanyih-cb2ef60bd27d5869126348964ea66f27 .avia_textblock{
font-size:23px;
}

#top .av_textblock_section.av-jkmanyih-cb2ef60bd27d5869126348964ea66f27 .avia_textblock{
font-size:23px;
}

#top .av_textblock_section.av-jkmanyih-cb2ef60bd27d5869126348964ea66f27 .avia_textblock{
font-size:23px;
}

#top .hr.hr-invisible.av-jkmadgt0-7f3d1b24fc2603b10ddd1afdde60d6bd{
height:130px;
}

#top .av-special-heading.av-thzo1-0a3c519fb29e0f16ecda74c429c87b47{
margin:0 0 0.7em 0;
padding-bottom:0px;
font-size:53px;
}
body .av-special-heading.av-thzo1-0a3c519fb29e0f16ecda74c429c87b47 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-thzo1-0a3c519fb29e0f16ecda74c429c87b47 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-thzo1-0a3c519fb29e0f16ecda74c429c87b47 .av-subheading{
font-size:23px;
}

#top .av_textblock_section.av-jkmanyih-2ee1d6820b26c214fdf8ede90dc97949 .avia_textblock{
font-size:23px;
color:#4a4a4a;
}

#top .av_textblock_section.av-jkmanyih-2ee1d6820b26c214fdf8ede90dc97949 .avia_textblock{
font-size:23px;
color:#4a4a4a;
}

#top .av_textblock_section.av-jkmanyih-2ee1d6820b26c214fdf8ede90dc97949 .avia_textblock{
font-size:23px;
color:#4a4a4a;
}

#top .av_textblock_section.av-jkmanyih-2ee1d6820b26c214fdf8ede90dc97949 .avia_textblock{
font-size:23px;
color:#4a4a4a;
}

#top .av_textblock_section.av-jkmanyih-2ee1d6820b26c214fdf8ede90dc97949 .avia_textblock{
font-size:23px;
color:#4a4a4a;
}

#top .av_textblock_section.av-jkmanyih-2ee1d6820b26c214fdf8ede90dc97949 .avia_textblock{
font-size:23px;
color:#4a4a4a;
}

#top .hr.av-jkjvrpjm-c5e7e2c3ada4f7a71826ee4b2c8f8153{
margin-top:20px;
margin-bottom:90px;
}
.hr.av-jkjvrpjm-c5e7e2c3ada4f7a71826ee4b2c8f8153 .hr-inner{
width:40px;
border-color:#45c0d6;
max-width:45%;
}
.hr.av-jkjvrpjm-c5e7e2c3ada4f7a71826ee4b2c8f8153 .av-seperator-icon{
color:rgba(69,192,214,0.68);
}

#top .flex_column_table.av-equal-height-column-flextable.av-293lv-a7155c18024466097b2d445b163a6518{
margin-top:0px;
margin-bottom:-160px;
}
.flex_column.av-293lv-a7155c18024466097b2d445b163a6518{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
box-shadow:0 0 5px 0 rgba(0,0,0,0.18);
-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.18);
-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.18);
background-color:#ffffff;
}

#top .av-special-heading.av-nigep-6e5805a3f6e0378e8ba450f0186c1224{
margin:2.4em 0 0.5em 0;
padding-bottom:20px;
font-size:20px;
}
body .av-special-heading.av-nigep-6e5805a3f6e0378e8ba450f0186c1224 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-nigep-6e5805a3f6e0378e8ba450f0186c1224 .av-special-heading-tag{
font-size:20px;
}
.av-special-heading.av-nigep-6e5805a3f6e0378e8ba450f0186c1224 .av-subheading{
font-size:23px;
}

#top .av_textblock_section.av-jkmanyih-3ad7f2874fee2fb5252232ac2b38d7d1 .avia_textblock{
font-size:14px;
}

#top .av_textblock_section.av-jkmanyih-3ad7f2874fee2fb5252232ac2b38d7d1 .avia_textblock{
font-size:14px;
}

#top .hr.hr-invisible.av-jkjvrpjm-fa4c3d656a99270566ae3828e94692d3{
height:50px;
}

#top .hr.hr-invisible.av-jkjvrpjm-fa4c3d656a99270566ae3828e94692d3{
height:50px;
}

#top .hr.hr-invisible.av-jkjvrpjm-fa4c3d656a99270566ae3828e94692d3{
height:50px;
}

#top .hr.hr-invisible.av-jkjvrpjm-fa4c3d656a99270566ae3828e94692d3{
height:50px;
}

#top #wrap_all .avia-button.av-jkmlj9ha-66404ecbf99dbadabf69f6763b49b674{
background-color:#45c0d6;
border-color:#45c0d6;
color:#ffffff;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

#top #wrap_all .avia-button.av-jkmlj9ha-66404ecbf99dbadabf69f6763b49b674{
background-color:#45c0d6;
border-color:#45c0d6;
color:#ffffff;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

#top .flex_column_table.av-equal-height-column-flextable.av-293lv-911cba79a824f28e41be791d6a99c146{
margin-top:0px;
margin-bottom:-160px;
}
.flex_column.av-293lv-911cba79a824f28e41be791d6a99c146{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
box-shadow:0 0 10px 0 rgba(0,0,0,0.18);
-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.18);
-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.18);
background-color:#7bb0e7;
background:linear-gradient( to bottom right, #7bb0e7, #4ecac2 );
transform:scale(1.1);
-webkit-transform:scale(1.1);
-ms-transform:scale(1.1);
z-index:5;
}

#top .av-special-heading.av-eut9t-2ae7e8dc8e759febd3d2fe3af71de14f{
margin:2.4em 0 0.5em 0;
padding-bottom:20px;
color:#ffffff;
font-size:20px;
}
body .av-special-heading.av-eut9t-2ae7e8dc8e759febd3d2fe3af71de14f .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-eut9t-2ae7e8dc8e759febd3d2fe3af71de14f .av-special-heading-tag{
font-size:20px;
}
.av-special-heading.av-eut9t-2ae7e8dc8e759febd3d2fe3af71de14f .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-eut9t-2ae7e8dc8e759febd3d2fe3af71de14f .av-subheading{
font-size:23px;
}

#top .av_textblock_section.av-jkmanyih-976e36e1e975b7317ab2502cea0a9fe9 .avia_textblock{
font-size:14px;
color:#ffffff;
}

#top .flex_column_table.av-equal-height-column-flextable.av-293lv-10ca157c0555584ae917908bbd2bf0f3{
margin-top:0px;
margin-bottom:-160px;
}
.flex_column.av-293lv-10ca157c0555584ae917908bbd2bf0f3{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:40px 40px 40px 40px;
box-shadow:0 0 5px 0 rgba(0,0,0,0.18);
-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.18);
-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.18);
background-color:#ffffff;
}

#top .av-special-heading.av-6mk5d-41e9cec49814bd595ac78edf0b644c92{
margin:2.4em 0 0.5em 0;
padding-bottom:20px;
font-size:20px;
}
body .av-special-heading.av-6mk5d-41e9cec49814bd595ac78edf0b644c92 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-6mk5d-41e9cec49814bd595ac78edf0b644c92 .av-special-heading-tag{
font-size:20px;
}
.av-special-heading.av-6mk5d-41e9cec49814bd595ac78edf0b644c92 .av-subheading{
font-size:23px;
}

.avia-section.av-jkwotzct-5df049364ec9bdc6291e48759ebc5a64{
background-color:#00ccc4;
background-repeat:no-repeat;
background-image:url(https://dev.chotu.shop/about/wp-content/uploads/sites/65/2018/10/hero-pattern.png), linear-gradient( 45deg, #00ccc4, #69b2e8 );
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-jkwotzct-5df049364ec9bdc6291e48759ebc5a64 .av-extra-border-element .av-extra-border-inner{
background-color:#ffffff;
}

#top .hr.hr-invisible.av-jkjvrpjm-9fcb549e2bfb7aa3ce478d41d328f208{
height:50px;
}

#top .hr.hr-invisible.av-jkjvrpjm-9fcb549e2bfb7aa3ce478d41d328f208{
height:50px;
}

#top .av-special-heading.av-89ps1-e8e53a7c22904c45c68f8ce1447cc194{
margin:0 0 0.7em 0;
padding-bottom:20px;
color:#ffffff;
font-size:53px;
}
body .av-special-heading.av-89ps1-e8e53a7c22904c45c68f8ce1447cc194 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-89ps1-e8e53a7c22904c45c68f8ce1447cc194 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-89ps1-e8e53a7c22904c45c68f8ce1447cc194 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-89ps1-e8e53a7c22904c45c68f8ce1447cc194 .av-subheading{
font-size:23px;
}

#top .av_textblock_section.av-jkmanyih-e542c9ba12e44e82f0f7158905d39308 .avia_textblock{
font-size:23px;
color:#ffffff;
}

#top .av_textblock_section.av-jkmanyih-e542c9ba12e44e82f0f7158905d39308 .avia_textblock{
font-size:23px;
color:#ffffff;
}

#top .hr.av-jkjvrpjm-c6c8b8a533f2c0b8208ff6452e11cedd{
margin-top:20px;
margin-bottom:90px;
}
.hr.av-jkjvrpjm-c6c8b8a533f2c0b8208ff6452e11cedd .hr-inner{
width:40px;
border-color:#ffffff;
max-width:45%;
}
.hr.av-jkjvrpjm-c6c8b8a533f2c0b8208ff6452e11cedd .av-seperator-icon{
color:rgba(255,255,255,0.7);
}

.flex_column.av-jn35vatz-acf5b3faff731054f83eb12a0783acd5{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-icon-grid-container.av-upudd-59ecc472fd590db434595a748437dbf1 .avia-icongrid-wrapper .avia-icongrid-icon{
color:#ffffff;
}
.avia-icon-grid-container.av-upudd-59ecc472fd590db434595a748437dbf1 .avia-icongrid-wrapper .icongrid_title{
font-size:18px;
color:#ffffff;
}
.avia-icon-grid-container.av-upudd-59ecc472fd590db434595a748437dbf1 .avia-icongrid-wrapper .icongrid_subtitle{
font-size:15px;
color:rgba(255,255,255,0.49);
}
.avia-icon-grid-container.av-upudd-59ecc472fd590db434595a748437dbf1 .avia-icongrid-wrapper .avia-icongrid-content .avia-icongrid-text{
color:rgba(255,255,255,0.78);
}
.avia-icon-grid-container.av-upudd-59ecc472fd590db434595a748437dbf1 .avia-icongrid-wrapper .avia-icongrid-flipback .avia-icongrid-text{
color:rgba(255,255,255,0.78);
}

#top .av-special-heading.av-k9bl5-46aaf7f8ef9e366c03dc6b2ceb0130b5{
margin:0 0 0.7em 0;
padding-bottom:20px;
font-size:53px;
}
body .av-special-heading.av-k9bl5-46aaf7f8ef9e366c03dc6b2ceb0130b5 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-k9bl5-46aaf7f8ef9e366c03dc6b2ceb0130b5 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-k9bl5-46aaf7f8ef9e366c03dc6b2ceb0130b5 .av-subheading{
font-size:23px;
}

#top .hr.av-jkjvrpjm-f9d11afaeabe64dc61bb0b9bf535a38f{
margin-top:20px;
margin-bottom:90px;
}
.hr.av-jkjvrpjm-f9d11afaeabe64dc61bb0b9bf535a38f .hr-inner{
width:40px;
border-color:#45c0d6;
max-width:45%;
}
.hr.av-jkjvrpjm-f9d11afaeabe64dc61bb0b9bf535a38f .av-seperator-icon{
color:rgba(69,192,214,0.71);
}

.flex_column.av-x04j-d5697e64cb80854b7274d3c9d3708798{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:0px 10px 0px 10px;
}

.flex_column.av-x04j-86c5997890a43637c08e8e71411c9a59{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:0px 10px 0px 10px;
}

.flex_column.av-x04j-86c5997890a43637c08e8e71411c9a59{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:0px 10px 0px 10px;
}

.flex_column.av-2qmgz-1199c7f6632b1824581e3b0589688a30{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:0px 10px 0px 10px;
}

.flex_column.av-26bj3-f79a006e2455f91bb1eaf87bbb9c1739{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:0px 10px 0px 10px;
}

.flex_column.av-1e0pb-64178150c1af24b0e7ece42690907bc3{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:0px 10px 0px 10px;
}

#top .hr.hr-invisible.av-14ltb-bb6b4030845f144d99a469e060cb35a8{
height:40px;
}

.avia-section.av-jkjmqted-0866b944c754505ff70b258311228893{
background-color:#3edbac;
background:linear-gradient( to bottom right, #3edbac, #16a6e8 );
}
.avia-section.av-jkjmqted-0866b944c754505ff70b258311228893 .av-extra-border-element .av-extra-border-inner{
background-color:#ffffff;
}

.flex_column.av-1k807-c803e136282b4c081ea603ba7ce39eb3{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-1k807-c803e136282b4c081ea603ba7ce39eb3{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-rbzd-998e68c745ecbbab31eedcd0683aef12{
padding-bottom:20px;
font-size:53px;
}
body .av-special-heading.av-rbzd-998e68c745ecbbab31eedcd0683aef12 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-rbzd-998e68c745ecbbab31eedcd0683aef12 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-rbzd-998e68c745ecbbab31eedcd0683aef12 .av-subheading{
font-size:23px;
}

.flex_column.av-1k807-033ce723320cf826c044a63ee2ecf03e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jkwitnd4-a80885ebc2fecd3a48006e3465d49183 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-d9fop-7a8146c1738cd435c4168fb41a880246{
margin:0 0 0.7em 0;
padding-bottom:0px;
font-size:53px;
}
body .av-special-heading.av-d9fop-7a8146c1738cd435c4168fb41a880246 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-d9fop-7a8146c1738cd435c4168fb41a880246 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-d9fop-7a8146c1738cd435c4168fb41a880246 .av-subheading{
font-size:23px;
}

#top .hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951{
margin-top:20px;
margin-bottom:90px;
}
.hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951 .hr-inner{
width:40px;
border-color:#45c0d6;
max-width:45%;
}
.hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951 .av-seperator-icon{
color:rgba(69,192,214,0.7);
}

#top .hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951{
margin-top:20px;
margin-bottom:90px;
}
.hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951 .hr-inner{
width:40px;
border-color:#45c0d6;
max-width:45%;
}
.hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951 .av-seperator-icon{
color:rgba(69,192,214,0.7);
}

#top .hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951{
margin-top:20px;
margin-bottom:90px;
}
.hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951 .hr-inner{
width:40px;
border-color:#45c0d6;
max-width:45%;
}
.hr.av-jkjvrpjm-79f2366adde38b55507ca9fbb02fc951 .av-seperator-icon{
color:rgba(69,192,214,0.7);
}

.flex_column.av-28zfv-dcd1b646a580a93fc8a3a0b5e7d6fc07{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-1km7b-28f4b9d92de88e8107d6528d66801cf3{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-vqtz-65f84990fcf83d1514aeacc444a75753{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-section.av-jkjmqted-e2e1b03e97cd35965223a0c61ebcb393{
background-color:#89bb30;
background-repeat:no-repeat;
background-image:url(https://dev.chotu.shop/about/wp-content/uploads/sites/65/2018/10/hero-pattern.png), linear-gradient( to bottom right, #89bb30, #4dc4fb );
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-jkjmqted-e2e1b03e97cd35965223a0c61ebcb393 .av-extra-border-element .av-extra-border-inner{
background-color:#ffffff;
}

.flex_column.av-1k807-a498e84df962a8dab4d04e5450b6b8a0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:50px 0px 80px 0px;
}

#top .av-special-heading.av-bbvtt-1f0508c8bce232f5909b06b2c1b8bc14{
padding-bottom:20px;
font-size:53px;
}
body .av-special-heading.av-bbvtt-1f0508c8bce232f5909b06b2c1b8bc14 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-bbvtt-1f0508c8bce232f5909b06b2c1b8bc14 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-bbvtt-1f0508c8bce232f5909b06b2c1b8bc14 .av-subheading{
font-size:23px;
}

.avia-section.av-jkwipdkp-03401e65127b4edad504a50e9cec9192 .av-extra-border-element .av-extra-border-inner{
background-color:#f7f7f7;
}

#top .av-special-heading.av-j5075-9f51a8a6b177cf1b1fbf508091973681{
margin:0 0 0.7em 0;
padding-bottom:0px;
font-size:53px;
}
body .av-special-heading.av-j5075-9f51a8a6b177cf1b1fbf508091973681 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-j5075-9f51a8a6b177cf1b1fbf508091973681 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-j5075-9f51a8a6b177cf1b1fbf508091973681 .av-subheading{
font-size:23px;
}

.flex_column.av-1vw7z-1e21a681431b5d6c1ab918448506687b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-1vw7z-ec9828f8180def4e8d0e33446b9f0a55{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-logo-element-container.av-jkwkcvqv-916e8bd902e352831abb3d931d26f0b7 .av-partner-fake-img{
background-size:cover;
}

.flex_column.av-1resv-bcec0999d4f392699a542a6b3ab48c2d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-1resv-bcec0999d4f392699a542a6b3ab48c2d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-section.av-jkwipdkp-85a946558c4a733960fd1aa045d4a83a{
background-color:#f7f7f7;
}

#top .av-special-heading.av-e0tsp-726ed3f849916d5e906b2c4bcd13112f{
margin:150px 0 0.7em 0;
padding-bottom:0px;
font-size:53px;
}
body .av-special-heading.av-e0tsp-726ed3f849916d5e906b2c4bcd13112f .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-e0tsp-726ed3f849916d5e906b2c4bcd13112f .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-e0tsp-726ed3f849916d5e906b2c4bcd13112f .av-subheading{
font-size:23px;
}

#top .hr.av-jkjvrpjm-f35932512bf89681c1dae646725fed2c{
margin-top:20px;
margin-bottom:50px;
}
.hr.av-jkjvrpjm-f35932512bf89681c1dae646725fed2c .hr-inner{
width:40px;
border-color:#45c0d6;
max-width:45%;
}
.hr.av-jkjvrpjm-f35932512bf89681c1dae646725fed2c .av-seperator-icon{
color:rgba(69,192,214,0.7);
}

.avia-section.av-jkwipdkp-4a56d195aa2db643af502c208699f9e9{
background-color:#1cc5e7;
background-repeat:no-repeat;
background-image:url(https://dev.chotu.shop/about/wp-content/uploads/sites/65/2018/10/hero-pattern.png), linear-gradient( to bottom right, #1cc5e7, #e3ee22 );
background-position:50% 0%;
background-attachment:scroll;
}
.avia-section.av-jkwipdkp-4a56d195aa2db643af502c208699f9e9 .av-extra-border-element .av-extra-border-inner{
background-color:#ffffff;
}

#top .av-special-heading.av-8akn5-54c9f7adf08e72dabe46f462d11c45d1{
margin:0 0 0.7em 0;
padding-bottom:0px;
color:#ffffff;
font-size:53px;
}
body .av-special-heading.av-8akn5-54c9f7adf08e72dabe46f462d11c45d1 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-8akn5-54c9f7adf08e72dabe46f462d11c45d1 .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-8akn5-54c9f7adf08e72dabe46f462d11c45d1 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-8akn5-54c9f7adf08e72dabe46f462d11c45d1 .av-subheading{
font-size:23px;
}

#top .hr.av-jkjvrpjm-73ce647a07c92e388a8cce296ed1d190{
margin-top:20px;
margin-bottom:60px;
}
.hr.av-jkjvrpjm-73ce647a07c92e388a8cce296ed1d190 .hr-inner{
width:40px;
border-color:#ffffff;
max-width:45%;
}
.hr.av-jkjvrpjm-73ce647a07c92e388a8cce296ed1d190 .av-seperator-icon{
color:rgba(255,255,255,0.7);
}

.flex_column.av-1resv-90194d4a1855e1207b561c331f730e77{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-y0gv-ba93384b5b8b9864a33055ed5e3ffa51{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av_textblock_section.av-jkmanyih-e8f493797eebee91c6a37edde88ba56f .avia_textblock{
font-size:20px;
color:#ffffff;
}

#top .hr.hr-invisible.av-jkjvrpjm-ef7a7d1e7ca369d85735dffa14d99dc9{
height:90px;
}

#top .av-special-heading.av-tr69-84bc3f5a618fa51221e75174ea3ea42e{
margin:0 0 0.7em 0;
padding-bottom:0px;
font-size:53px;
}
body .av-special-heading.av-tr69-84bc3f5a618fa51221e75174ea3ea42e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-tr69-84bc3f5a618fa51221e75174ea3ea42e .av-special-heading-tag{
font-size:53px;
}
.av-special-heading.av-tr69-84bc3f5a618fa51221e75174ea3ea42e .av-subheading{
font-size:23px;
}

.flex_column.av-2qmgz-7bf0a29510f3a175d26fc55e6bafc1a4{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:200px 20px 250px 20px;
background:url(https://dev.chotu.shop/about/wp-content/uploads/sites/65/2018/10/backdrop-bg.png) 50% 50% no-repeat scroll ;
}

.flex_column.av-2qmgz-02eeac218e7466dbf2696dc9c7017744{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
padding:100px 90px 0px 90px;
}

