/*!
Theme Name: chotu
Theme URI: http://zonvoir.com/
Author: Mohd Nadeem
Author URI: http://zonvoir.com/
Description: Description
Version: 2.0.1
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: chotu.com
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

chotu is based on Underscores https://chotu.com/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
    - Normalize
    - Box sizing
# Base
    - Typography
    - Elements
    - Links
    - Forms
## Layouts
# Components
    - Navigation
    - Posts and pages
    - Comments
    - Widgets
    - Media
    - Captions
    - Galleries
# plugins
    - Jetpack infinite scroll
# Utilities
    - Accessibility
    - Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
     ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@media only screen and (min-width: 620px ) and (max-width:1000px){
    .mobileView{
        width: 60%;
   } 
  }
  @media only screen and (min-width: 1001px){
  .mobileView{
      width: 30%;
   } 
  }
  .navbar{
  /*  background: rgba(249, 249, 249, 0.5);
    backdrop-filter: blur(5px);*/
  }
  .iconify{
    position: absolute;
    height:1.25rem;
    width:1.25rem;
    margin-left: 2.125rem;
    margin-top:2.125rem;
    color:#737373;
  }

  .chotu-nav-carousel {
    /*z-index: 99999999999999;*/
    position: relative;
}
  

/****NEW CSS***/
html {
    margin: 0 !important;
}
html{margin: 0 !important;}

.mobileView{position: relative;}   

    

/*h1{font-size: 97px; font-weight: 300; letter-spacing: -1.5px;}
h2{font-size: 61; font-weight: 300; letter-spacing: -0.5px;}
h3{font-size: 48px; font-weight: 400; letter-spacing: 0px;}
h4{font-size: 34; font-weight: 400; letter-spacing: 0.25px;}*/


h1 {letter-spacing: -0.063rem;}
h5{font-size: 0.875rem;font-weight: 600;letter-spacing: 0rem;}
h6{font-size: 0.75rem; font-weight: 600; letter-spacing: 0.009rem;}
.button{font-size: 0.625rem; font-weight: 600;   letter-spacing: 0.063rem; text-transform: uppercase; }
.caption{font-size: 0.75rem; font-weight: 500 !important; letter-spacing: 0.025rem; color: rgb(105, 105, 105);}



.subtitle-1{font-size: 1.25rem; font-weight: 500; letter-spacing: 0.009rem;}
.subtitle-2{font-size: 0.875rem; font-weight: 500; letter-spacing: 0.006rem;}
.body-1{font-size: 1rem; font-weight: 400; letter-spacing: 0.031rem;}
.body-2{font-size: 0.875rem; font-weight: 400; letter-spacing: 0.016rem;}
.overline{font-size: 0.625rem; font-weight: 400; letter-spacing: 0.094rem; text-transform: uppercase;}

body {font-family: 'Montserrat' !important;background-color: #fff !important;}

.mobileView {border-radius: 0.5rem;background-color: #efeef3 !important;}

.card {
    width: 100%;
    background: #ffffff;
    border-radius: 0.75rem !important;
    border: 0.063rem solid rgb(232, 232, 232) !important;
    box-shadow: rgb(239 238 243) 0rem 0.4rem 1.8rem !important;
}

.card-img-top-cl{border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;}


.container {
    width: 96% !important;
}


h5{ 
   
    border-radius: 0.375rem;
    border: none;
    box-shadow: rgb(239 238 243) 0rem 0.4rem 1.8rem !important;
    background-color: #fff;
    padding: 0.813rem;
    display: inline-block;
    width: 100%; position: relative; margin-bottom: 0.938rem !important;}

    h5:after{content: "";
    position: absolute;
    bottom: -0.313rem;
    height: 0.75rem;
    width: 0.75rem;
    background-color: white;
    left: 0.75rem;
    transform: rotate(45deg);
    background-color: white;}


.card-title {
       text-transform: capitalize;
    padding-bottom: 0.313rem;
    margin-bottom: 0.25rem;
}

.order_before_time_card small img {
    width: 1.125rem;
    object-fit: contain;
    /* color: #ffff; */
    /* fill: #124e77; */
    filter: invert(22%) sepia(94%) saturate(700%) hue-rotate(168deg) brightness(89%) contrast(95%);
}
.filter_blue{
    filter: invert(22%) sepia(94%) saturate(700%) hue-rotate(168deg) brightness(89%) contrast(95%);
}
.filter_white{
    filter: invert(100%) sepia(0%) saturate(7431%) hue-rotate(113deg) brightness(114%) contrast(110%);
}
.filter_beige{
    filter: invert(97%) sepia(99%) saturate(858%) hue-rotate(303deg) brightness(95%) contrast(108%);
}
.filter_grey{
    filter: invert(97%) sepia(2%) saturate(3876%) hue-rotate(188deg) brightness(104%) contrast(90%);
}
.filter_red{
    filter: invert(26%) sepia(98%) saturate(5918%) hue-rotate(359deg) brightness(92%) contrast(132%);
}

.url_param a,
.card-body a {
    float: right;
}

.card-body small{
    
    margin-top: 0.25rem;
    display: initial;
 }

 .card-body.url_param .order_before_time_card{
    /*display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;*/
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    
    /*width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;*/

}

 .card-body p{margin-bottom: 0; margin-top: 0;}


.url_param a, .card-body a {
    float: right;
    padding: 0.375rem 0.625rem;
    border-radius: 0.75rem ;
    text-transform: uppercase;
        height: 1.625rem;
}

.order_before_time_card{display: flex;     justify-content: space-between;}
.order_before_time_card span{letter-spacing: 0; color: rgb(105, 105, 105);}
.order_before_time_card span img{}

.can_buy {
    text-decoration: inherit;
    display: inline-block;
    margin-bottom: 0.25rem;
}

.card-body{padding: 0.75rem 0.625rem;}

.cn_by{}
.cn_by a {
    text-decoration: inherit;
    margin-bottom: 0.375rem;
}

a.pull-right.caption.text-decoration-none.text-primary {
    margin-bottom: 0.25rem;
    display: block; width: 100%; text-align: right; 
}


.img_relative{position: relative;}

.bg_img_shape{position: absolute;
    pointer-events: none;
    right: 0;
    bottom: 0rem;
    left: 0;
    overflow: hidden;
    height: auto;}

.bg_img_shape svg{    transform: scale(2);
    width: 100%;
    height: auto;
    transform-origin: top center;
    color: #eaeaea;
  }



  .caption_banner{    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); width: 100%;}

 .caption_banner p{font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0rem;     margin-bottom: 0.313rem;}

    .caption_banner small{font-size: 0.688rem;
    font-weight: 500;
    letter-spacing: 0.025rem;}


    marquee{     margin-bottom: 0.5rem;
   }

.astm-search-menu-wrapper{
    display:none
}

#slugdiv{
display:none;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}


div#Toggler {
    position: absolute;
    left: 0;
    right: 0;
    /* top: 3.625rem; */
        background-color: white;
    z-index: 999999;
}

#primary-menu li{    border-bottom: 0.063rem solid #dee2e6!important;}

#primary-menu li a {
    padding: 0.5rem 0.938rem;
}

.inner_page_caption{position: absolute;
    bottom: 0.875rem;
    left: 0;
    right: 0;
    max-width: 80%;
    margin: 0 auto;
    color: white;
    text-align: center;}

    .inner_page_caption span{    color: white; font-weight: 200;}


    .profile_pic {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.25rem;
}

.profile_pic img {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 50%;
    border: 0.188rem solid #efeef3;
    box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 9%), 0 0.375rem 1.25rem 0 rgb(0 0 0 / 2%);
}

.mgrn_b_cl {
   max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

.mgrn_b_cl span,
.mgrn_b_cl svg {
    color: white;
}

.captain_dis {
    margin-top: 1.625rem !important;
    margin-bottom: 0.75rem !important;
}

.all_radio_data_wrap {
    margin-bottom: 0.625rem;
}

.wrap_footer_link a{    text-decoration: none;}

.wrap_footer_link {
    text-align: center;
}


.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #6c6c6c !important;
    border-color: #6c6c6c !important;
}

#loginModal .modal-footer {
    display: none;
}

#loginModal .close_icon{    font-size: 1.563rem;}
#loginModal .close_model{    padding: 0;}


#loginModal .modal-header {
    padding: 0.25rem 1.125rem;
}

.submit_button{color: white; font-size: 0.625rem !important;
    font-weight: 400;
    letter-spacing: 0.063rem;
    text-transform: uppercase;}

    #lwp_login.ajax-auth input.lwp_username {border: 0.063rem solid #ccc !important;}

    .navbar-dark .navbar-toggler-icon {
    background-image: initial !important;
}



span.balance_header a {
    text-decoration: none;
}

.header_panel{background: #fff;}    
.header_panel nav{    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    height: 8.75%;}


    .custom-logo-link img {
    /* width: auto !important;
    height: 100% !important;
    margin: 0 auto; */

    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

.t_right{text-align: right;}


.navbar-toggler-icon {
    width: auto !important;
    height: auto !important;}


.wrap_1{
width: 20%;
}
.wrap_2{width: 60%; text-align: center;}

.wrap_3{
 width: 20%; text-align: right;
}

.last_grid .card {    padding: 1.25rem 0;     position: relative;
    overflow: hidden;}

.last_grid .card h6{padding: 0.438rem 1.375rem 0 1.313rem;}

.last_grid .card small{}

.home_page_baner{    padding: 1.563rem 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;}

.home_page_baner .baner_heading{}


.home_bg_img{position: relative; background-size: cover; background-position: center;}

.home_bg_img:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: black;*/
    opacity: 0.5;
}

.home_page_baner h6 {
    margin-bottom: 0;
}



#ajaxsearchlite1 .probox, div.asl_w .probox {
    border: 0.125rem solid #fff !important;
}






.marquee_header {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
  display: inline-block;
    padding-left: 100%;
    margin-top: 0rem;
    animation: marquee 50s linear infinite;
    margin-bottom: 0.5rem;
}

/*.marquee-content:hover {
    animation-play-state: paused
}
*/
.mr_item1 {
    display: inline-block;
    background-color: #1c567d;
    padding: 0.125rem 0.563rem;
    border-radius: 1.25rem !important;
    color: white;
    font-size: 0.688rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
    vertical-align: top;
    margin-left: 0.188rem;
}

.mr_item2 {
       display: inline-block;
    background-color: #1c567d;
    padding: 0.125rem 0.563rem;
    border-radius: 1.25rem !important;
    color: white;
    font-size: 0.688rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
    vertical-align: top;
    margin-left: 0.188rem;
    line-height: 0.875rem;
}

/* Transition */
@keyframes marquee {
    0%   { transform: translateX(0) }
    100% { transform: translateX(-100%) }
}
    


.image_container,
.locality_single_page,
.captain_single_page {
    width: 100%;
    padding-top: 61.8%;
    position: relative;
}


.image_container img,
.locality_single_page .card-img-top,
.captain_single_page .card-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;    
}

.balance_header{position: relative;}


.home_bg_img{    padding-top: 61.8%;}


.balance_header a{   

    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
   }


   .share-button-banner {
    position: absolute;
    top: 0;
}

.wrap_share_btn {
    position: absolute;
    top: 0;
    right: 0;
}

.simplefavorite-button {
    position: absolute !important;
    left: 0;
    top: 0;
    z-index: 9;
    margin: 0.563rem;
    background-color: transparent;
    border-color: transparent !important;
    height: 2.5rem;
    width: 2.5rem;
  
    font-size: 1.5rem;
   
}

.simplefavorite-button.active{    opacity: 1 !important;}

.simplefavorite-button-count{color: white;
    position: absolute;
    margin: 0.25rem 0.313rem;
    font-size: 0.688rem;
    font-weight: 500;}



.team_pic img {
     width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    margin: 0.125rem auto;
    display: table;
    border: 0.25rem solid #f7c0a5;
}

.img_about{}
.img_about img{width: 100%;
    border-radius: 0.5rem;}

.about_list{    padding-left: 0.938rem;     margin-bottom: 0;}
.about_list li{    margin-bottom: 0.313rem;}

.wrap_privacy {}
.wrap_privacy p,
.wrap_refund p{font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    color: rgb(105, 105, 105);}

.wrap_privacy ul,
.wrap_refund ul{padding-left: 0.938rem}
    .wrap_privacy ul li,
    .wrap_refund ul li{font-size: 0.75rem;
    font-weight: 500 !important;
    letter-spacing: 0.025rem;
    color: rgb(105, 105, 105);}



.status-publish{    margin-top: 4%;}

.wpforms-form{    width: 100% !important;
    background: #ffffff !important;
    border-radius: 0.75rem !important;
    border: 0.063rem solid rgb(232, 232, 232) !important;
    box-shadow: rgb(239 238 243) 0rem 0.4rem 1.8rem !important;
    padding: 0.938rem !important;}

    .wpforms-field-label{    font-size: 0.75rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.009rem !important;}


    .wpforms-field-label-inline,
    .wpforms-field-description {
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    letter-spacing: 0.025rem !important;
    color: rgb(105, 105, 105) !important;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form select.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important;
}


.wpforms-submit {
    font-size: 0.625rem !important;
    font-weight: 600 !important;
    letter-spacing: 0.063rem;
    text-transform: uppercase !important;
    padding: 0.375rem 0.625rem !important;
    border-radius: 0.75rem !important;
    text-transform: uppercase;
    height: 1.625rem;
}

.wpforms-submit-container{text-align: center}




.carousel-indicators .active {
         background-color: #0a58ca;
      }

     .carousel-indicators li {
     box-sizing: content-box;
    flex: 0 1 auto;
    width: 0.625rem;
    height: 0.625rem;
    margin-right: 0.188rem;
    margin-left: 0.188rem;
    text-indent: -62.438rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    opacity: .5;
    transition: opacity .6s ease;

      }

 .slider_main .carousel-item {
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
    transition: 0s !important;

    width: 100%;
    padding-top: 61.8%;
    position: relative;
}

.slider_main .carousel-item img{width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;     filter: brightness(0.7);}


.slider_main{position: relative}
.slider_main #ajaxsearchlite1{position: absolute;
    top: 50%;
    left: 0;
    right: 0;}

    .slider_main h4{color:  white}

/*================================Responsive=================================*/
     
/*Mobile*/
@media (max-width:767px) {

 .marquee_cl {height: 1.5rem;}

 .marquee_cl small {font-size: 0.625rem;     line-height: 1rem; padding-bottom: 0.125rem;padding: 0.25rem 0.563rem;}      
 
}

/*small mobile devices*/
@media (min-width:320px) and (max-width:480px) {}


/*landscape mobiles devices*/
@media (max-width:736px) and (orientation:landscape) {}


/*tablet devices (both orentations)*/
@media (min-width:768px) and (max-width:979px) {

 .marquee_cl {height: 1.625rem;}

 .marquee_cl small {font-size: 0.625rem;     line-height: 1rem; padding-bottom: 0.125rem;padding: 0.25rem 0.563rem;}      
 

}


/*For small screens and laptops devices*/
@media (min-width:980px) and (max-width:1199px) {}