<span style='color: #000' title='Frames'>   190</span><span style='color: #009' title='Memory'>   2048.00 KB</span><span style='color: #900' title='Time'>    309.53 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />