


.editor-block-list__block,
.editor-block-list__block p {background-color:#ffffff; color:#b0b0b0;}
.editor-block-list__block h1,
.editor-block-list__block h2,
.editor-block-list__block h3,
.editor-block-list__block h4,
.editor-block-list__block h5,
.editor-block-list__block h6 {color:#4a4a4a;}
.editor-post-title__block textarea {color:#999999; background-color:#f8f8f8;}
.editor-block-list__block a,
.editor-block-list__block strong,
.editor-block-list__block b,
.editor-block-list__block b a,
.editor-block-list__block strong a {color:#45c0d6;}
.editor-block-list__block .wp-block-heading,
.editor-post-title__block textarea {font-family:'oswald', Helvetica, Arial, sans-serif;}
.editor-block-list__block {font-family:'barlow', Helvetica, Arial, sans-serif;}
