#avia_options_page textarea, #avia_options_page input[type="text"], #avia_options_page input[type="password"], #avia_options_page input[type="file"], #avia_options_page input[type="button"], #avia_options_page input[type="submit"], #avia_options_page input[type="reset"], #avia_options_page select , .avia_select_unify{
border-color: #E2EAED;
}

#avia_options_page input[type="file"]{ padding:13px;}

#avia_options_page{
width:780px;
position: relative;
border:1px solid #E2EAED;
background: #fff;
margin: 20px 0 0 16px;
/*
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #fafafa url(../images/layout/bg.png) repeat-x top left;
*/
z-index: 2;
}

/*	forced hide of theme options		*/
#avia_options_page .avia-forced-hide-option{
	display: none !important;
}

.avia_options_page_inner{
position: relative;
border:1px solid #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.avia_options_container {
top: -14px;
position: relative;
overflow: hidden;
width: 100%;
margin-bottom: -14px;
}


/****************header****************/
.avia_header{
position: relative;
padding:20px;
height:45px;
border-bottom: 1px solid #fff;
}

.avia_logo{
padding:6px 0;
margin:0;
font-size: 25px;
color:#666;
text-shadow: 1px 1px 1px #fff;
font-style: italic;
font-family: "Georgia";
font-weight: normal;
}

.avia_help_links{
width:200px;
float: left;
visibility: hidden;
}

.avia_help_links li{
list-style-type: none;
list-style-position: outside;
float:left;
padding-right:4px;
font-size: 11px;
color:#999;
}

.avia_help_links li a, .avia_shop_option_link{
color:#5C951E;
text-decoration: none;
}

.avia_header .avia_style_wrap{
position: absolute;
bottom: 20px;
right:20px;
}

.avia_text .avia_style_wrap input{
font-size:12px;
}


.avia_shop_option_link{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #E2EAED;
font-size: 11px;
left: -24px;
padding: 2px 0;
position: absolute;
text-align: center;
top: 49px;
width: 21px;
}

.avia_sidebar_active .avia_shop_option_link{
left: 19px;
background: none;
border:none;
padding:0;
width:auto;
text-align: left;
}

/****************footer****************/

.avia_footer{
position: relative;
padding:20px;
height:45px;
border-top: 1px solid #E2EAED;
clear:both;
}

.avia_footer_links li{
float:left;
}

.avia_footer .avia_footer_save{
float:right;
}

.avia_bottom_shadow{
display:block;
width:835px;
height:24px;
margin-bottom: 10px;
background: transparent url(../images/layout/bg-bottom-shadow.png) no-repeat top left;
position: relative;
left: -11px;
top: -12px;
z-index: 1;
}




/****************option pages****************/

/*half sized sections*/
#avia_options_page .avia_sidebar_active .avia_one_half{
float:left;
width:313px;
clear:none;
border-left:1px solid #E2EAED;
left:-2px;
position: relative;
}

#avia_options_page .avia_sidebar_active div .avia_first{
border-right:1px solid #E2EAED;
position: relative;
left:-1px;
}

#avia_options_page .avia_sidebar_active .avia_one_half .avia_section {
width: 277px;
}

#avia_options_page .avia_options_page_inner .avia_first{
left:-2px;
}

#avia_options_page div .avia_one_half{
float:left;
width:387px;
clear:none;
border-left:1px solid #E2EAED;
left:-3px;
}

#avia_options_page .avia_one_half .avia_section {
width: 347px;
}



/*end half sized sections*/

.avia_section_header{
border-top:1px solid #E2EAED;
margin: 0;
padding: 15px 20px;
clear:both;
background: #fff;
display:block;
}

.avia_sidebar_active .avia_section_header{
display:none;
}

.avia_options_page_content .avia_section_header strong{
padding:0;
margin:0;
font-size: 18px;
font-weight: normal;
text-shadow: 1px 1px 1px #FFFFFF;
color: #666666;
font-family: "Georgia";
font-style: italic;
background-position: right center;
}

.avia_sidebar_content .avia_section_header{
background: transparent;
cursor: pointer;
}

.avia_sidebar_content .avia_section_header.hidden{
	display: none !important;
}

#avia_options_page .avia_active_nav{
background-color: #fff;
color:#111;

}

#avia_options_page .avia_active_nav .avia_page_title{
font-weight: bold;
-webkit-filter: grayscale(0);
}

.avia_sidebar_content{
border-bottom:1px solid #E2EAED;
}

.avia_page_title {
-webkit-filter: grayscale(1);
background-position: left center;
background-repeat: no-repeat;
display: block;
font-size: 11px;
font-weight: normal;
padding: 0 0 0 24px;
}

.avia_sidebar_content .avia_section_header{
font-size:12px;
padding:10px 8px;
color:#7D8388;
}



.avia_sidebar_active .avia_subpage_container{
display:none;
min-height: 300px;
}

.avia_subpage_container, #avia_options_page .avia_active_container{
display:block;
float:left;
clear: both;
width: 100%;
position: relative;
}


.avia_preview_pic{
position: relative;
}

.avia_remove_image{
width:20px;
height:20px;
position: absolute;
background: transparent url(../images/icons/close.png) no-repeat top left;
text-indent: -9999px;
outline:none;
bottom:-5px;
left:-5px;
}

.avia_preview_pic img{
-webkit-box-shadow: 0 0 7px #999999;
box-shadow: 0 0 7px #999999;
-moz-box-shadow: 0 0 7px #999999;
border: 6px solid #FFFFFF;
margin-top: 10px;
max-width: 83%;
background-color: #f8f8f8;
background-image: linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB), linear-gradient(45deg, #CBCBCB 25%, transparent 25%, transparent 75%, #CBCBCB 75%, #CBCBCB);
  background-size:16px 16px;
  background-position:0 0, 8px 8px;
}

.avia_control{
width:40%;
float:left;
}


.avia_description{
width:60%;
float:right;
}

.avia_description strong{color:#222;}

#avia_options_page .avia_section {
border-top:1px solid #E2EAED;
border-bottom:1px solid #fff;
padding:20px;
clear: both;
width:740px;
position: relative;
float: left;
}

#avia_options_page .avia_set, #avia_options_page .avia_single_set, #avia_options_page .avia_visual_set {
width:100%;
float: left;
clear: both;
position: relative;
}

#avia_options_page .avia_single_set, #avia_options_page .avia_visual_set{
border-top:1px solid #E2EAED;
border-bottom:1px solid #fff;
padding: 10px 0;
}

#avia_options_page .avia_set .avia_section, #avia_options_page .avia_visual_set .avia_section{
border:none;
padding:10px 20px;
background: none;
}


div #avia_options_page .avia_one_half .avia_single_set,div #avia_options_page .avia_visual_set.avia_one_half  {
background: none;
padding:0;
}

#avia_options_page .avia_one_half .avia_set .avia_section{
padding-bottom:30px;
}


#avia_options_page .avia_set .avia_set{
width:93%;
border:1px solid #E2EAED;
margin-left:20px;
margin-bottom:30px;
border-top:1px solid #fff;
}

#avia_options_page .avia_set.avia_tab_container .avia_set{
width: 94%;
border: 0px solid #E2EAED;
margin-left: 0px;
margin-bottom: 30px;
border-bottom: 1px solid #E1E1E1;
}

#wpwrap #avia_options_page .avia_set.avia_tab_container .avia_set .avia_section.av_3columns.av_col_1{
	padding-left: 0px;
}

#wpwrap #avia_options_page .avia_set.avia_tab_container .avia_set .avia_section input{
	padding: 0 13px;
}




#avia_options_page .avia_sidebar_active .avia_set .avia_set .avia_section{
width:87%;
}

#avia_options_page .avia_sidebar_active .avia_set .avia_set .avia_description {
float: right;
width: 40%;
}


.avia_clone_set, .avia_remove_set, .avia_remove_wizard_set{
display:block;
height:24px;
width:24px;
position: absolute;
bottom: 0;
right:24px;
background: #fff url(../images/icons/add.png) no-repeat center center;
border-top:1px solid #E2EAED;
border-left:1px solid #E2EAED;
outline: none;
text-indent: -9999px;
}

.avia_remove_set, .avia_remove_wizard_set{
right:0;
background: #fff url(../images/icons/close.png) no-repeat  center center;
}


.avia_section .avia_style_wrap{
position: relative;
left:-9px;
}

.avia_section .avia_style_wrap:hover{
background-position: top left;
}

.avia_description{
font-size:11px;
color:#7d8388;
}

.avia_loading{
background: url("../images/icons/loading.gif") no-repeat scroll center center transparent;
display: block;
height: 40px;
position: absolute;
right: 160px;
top: 21px;
width: 40px;
visibility: hidden;
}

.avia_footer .avia_loading{
top: 33px;
}

.avia_clone_loading{
background: url("../images/icons/loading_mini.gif") no-repeat scroll center center #fff;
bottom: 0;
position: absolute;
right: 48px;
text-indent: -9999px;
border-left: 1px solid #E2EAED;
border-top: 1px solid #E2EAED;
height:24px;
width:24px;
}

.avia_options_page_sidebar{
display:none;
}

#avia_options_page div .avia_heading{
font-size: 12px;
color:#888;
line-height: 1.65em;
}

.avia_heading h4{
color:#333;
}

#avia_options_page .avia_heading h4{font-size: 18px; color:#111;}


/*option pages active sidebar*/

#avia_options_page .avia_sidebar_active .avia_options_page_sidebar{
display:block;
width:146px;
height:100%;
float:left;
border-right:1px solid #fff;
}

#avia_options_page .avia_sidebar_active .avia_sidebar_contet{
border-top:1px solid #E2EAED;
}

#avia_options_page .avia_sidebar_active .avia_options_page_content{
display:block;
width:630px;
float:left;
}

#avia_options_page .avia_sidebar_active .avia_section{
width:590px;
}


.avia_sidebar_active .avia_control{
width:50%;
float:left;
}


.avia_sidebar_active .avia_description{
width:50%;
float:right;
}

.avia_sidebar_active .avia_options_page_content{
border-left:1px solid #E2EAED;
}

/*import*/

.avia_file_upload .avia_control,
.avia_reset_selected_button .avia_control{
	position: relative;
}

div .avia_upload_loading {
right: 22px;
top: 1px;
}

.avia_import_result, .avia_import_wait, .avia_import_parent_wait{
padding:10px 0;
color: #7D8388;
font-size: 11px;
width:90%;
}

.avia_import_wait, .avia_import_parent_wait{
display:none;
}


div .avia_import_loading{
left: 169px;
top: 46px;
right:auto;
}

div .avia_import_loading_parent{
left: 258px;
top: 46px;
right:auto;
}


#wpwrap div .avia_import_parent_button{
/*background-color: #3897C2;
border: 1px solid #2078A0;
text-shadow: 1px -1px 0 #2078A0;*/
}

#wpwrap div .avia_import_parent_button:hover{
/*background-color: #53BBEB;
border: 1px solid #4D9EC3;*/
}

#wpwrap #avia_importexport .avia_button{ width: 200px; text-align: center;}
#wpwrap #avia_importexport .avia_import_loading{left: 256px;}

#wpwrap #avia_upload .avia_alb_templates_export_button{
	text-align: center;
	line-height: 2em;
}

.av-import-wrap.av-demo-must-download .avia_import_overlay.avia_download,
.av-import-wrap.av-demo-must-download.av-disable-import .avia_import_overlay.avia_download,
.av-import-wrap.av-demo-downloaded .avia_import_overlay.avia_import{
	display: block;
}

.av-import-wrap.av-demo-must-download.av-disable-import a{
	cursor: pointer;
}
.av-import-wrap.av-demo-must-download.av-disable-import:hover {border-color:#0074A2;}
.av-import-wrap.av-demo-must-download.av-disable-import .avia_import_overlay.avia_download{background: #0074A2;}

.av-import-wrap.av-demo-downloaded .avia_import_overlay.avia_download,
.av-import-wrap.av-demo-must-download .avia_import_overlay.avia_import
{
	display: none;
}

.avia_import .av-import-wrap-delete-demo{
	margin-top: 3px;
}

.avia_import .av-import-wrap-delete-demo.av-demo-must-download,
.avia_import .av-import-wrap-delete-demo.av-demo-immediate-delete{
	display: none;
}

.avia_import .av-import-wrap-delete-demo .avia_import_delete_demo_button{
	width: 100%;
	text-align: center;
}

#wpwrap #avia_demo.av-demo-ajax-active .avia_button,
#wpwrap #avia_demo.av-demo-ajax-active .avia_button:hover,
#wpwrap #avia_demo.av-demo-ajax-active .avia_button:focus,
#wpwrap #avia_demo.av-demo-ajax-active div.avia_import_overlay,
#wpwrap #avia_demo.av-demo-ajax-active div.avia_import_overlay:hover,
#wpwrap #avia_demo.av-demo-ajax-active div.avia_import_overlay:focus{
	cursor: default;
	background-color: #aaa;
	border: 1px solid #aaa;
	padding: 6px 17px;
	text-shadow:1px -1px 0 #999;
}


/*import with image*/
.av-import-with-image{position: relative; width:92%; border:5px solid #e1e1e1;   -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.av-import-with-image:hover{border-color:#0074A2;}
#wpwrap .avia_import_image{display: block; box-shadow:none;}
.avia_import_image img{max-width:100%; display: block;}
.av-import-with-image .avia_loading {
background-color: #FFF;
left: 0px;
top: 0px;
border-bottom: 5px solid #E1E1E1;
border-right: 5px solid #E1E1E1;
}

.av-import-with-image .avia_import_wait {
position: absolute;
bottom: 0;
background: #FFF;
width: 90%;
padding: 5%;
border-top: 5px solid #E1E1E1;
z-index: 5;
}

.av-import-with-image .avia_import_result{display:none;}
#wpwrap .av-before-plugins{position: relative; top:7px;}

.avia_import_overlay {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 1;
	width: 50%;
	background: #0074A2;
	padding: 11px 0;
	position: absolute;
	text-align: center;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	margin-left: -25%;
	margin-top: -20px;
	color: #FFF;
	opacity: 0;
}

.av-import-with-image:hover .avia_import_overlay{opacity: 1;}

.av-import-with-image.av-disable-import{ opacity: 0.3; }
.av-import-with-image.av-disable-import a{  cursor: default !important; }
.av-import-with-image.av-disable-import img{-webkit-filter: grayscale(1); }
.av-import-wrap.av-import-with-image.av-disable-import:hover {border-color:#9B3737; opacity: 1;}
.av-import-with-image.av-disable-import .avia_import_overlay{background: #9B3737 !important; margin-top: -56px; width: 70%; left: 35%; padding: 5%;}



/*notifications*/

.av-text-notice{
	border: 1px solid #2EA2CC;
	background: #2EA2CC;
	color: #fff;
	display: block;
	padding:10px;
	margin:5px 0;
}



.av-text-notice a{color:#fff; text-decoration: underline;}
.av-text-notice a:hover{opacity: 0.9; text-decoration: none;}

div .av-text-notice.av-notice-error{
	border: 1px solid #cc2929;
	background: #e43b3b;
}

div .av-text-notice.av-notice-noborder{border-radius:0}

div .av-text-notice ul{
	list-style: circle;
	padding-left: 25px;
}
div #avia_options_page .avia_envato_deprecated-section{
	background: #f8f8f8;
	border:1px solid #e1e1e1;
}


.avia_notification{
padding:20px;
background: #000;
position: fixed;
top: 40%;
left:40%;
width:332px;
z-index: 10000;
color:#fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
overflow: hidden;
font-size: 12px;
}

.avia_notification .avia_notification_icon{
height:32px;
width:32px;
display: block;
float:left;
margin-right:15px;
overflow: hidden;
}

.avia_notification .avia_notification_close_icon{
	height:32px;
	width:32px;
	display: block;
	float:right;
	margin: -30px -20px 0 0;
	overflow: hidden;
	background: url("../images/icons/close.png") no-repeat scroll center center transparent;
}

.avia_notification .avia_notification_close_icon:hover{
	cursor: pointer;
	opacity: 0.5;
}

.avia_notification div{
width:285px;
float:left;
}

.avia_notification_success .avia_notification_icon{
background: url("../images/icons/success.png") no-repeat scroll center center transparent;
}

.avia_notification_error .avia_notification_icon{
background: url("../images/icons/alert.png") no-repeat scroll center center transparent;
}

#wpwrap .av-privacy-token-notice{
	text-align: center;
    background: #00577b;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
}

/****************meta_box****************/


.avia_meta_box .avia_section .avia_style_wrap {
left: 0px;
}


.avia_single_set{
position: relative;
}

/*metabox sidebar*/

#wpwrap .meta_box_side .avia_style_wrap select {
    width: 223px;
}

#side-info-column .avia_meta_box{
background: none repeat scroll 0 0 #F8F8F8;
border: 1px solid #E2EAED;
clear: both;
margin-bottom: 7px;
overflow: hidden;
padding: 15px;
}

#wpwrap .avia_meta_box .avia-style select{
	max-width: 80%;
}

/*metabox slideshow*/
.avia_meta_box h4{
margin:0 0 10px 0;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set{
border:1px solid #E2EAED;
background: #f8f8f8;
padding:15px;
margin-bottom:7px;
overflow: hidden;
clear:both;
min-width:467px;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set .avia_preview_pic{
background: #fff;
width:112px;
height:112px;
border:1px solid #E2EAED;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set .avia_preview_pic img{
width:100px;
max-width: 100px;
margin:0;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set .avia_description{
display:none;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set .avia_control{
width:100%;
position: relative;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set .avia_upload{
width:130px;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set .avia_upload .avia_upload_style_wrap{
position: absolute;
z-index: 100;
top:116px;
left:14px;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set .avia_upload{
float:left;
display:block;
padding:0 10px 30px 0;
}

#normal-sortables #slideshow .avia_meta_box .avia_single_set textarea{
height:85px;
width:272px;
font-size: 11px;
font-family: "Arial", "Verdana";
color:#555;
padding:8px;
}




#post-body .inside>.avia_meta_box_colorpicker .avia_section, #post-body .inside>.avia_meta_box_text .avia_section, #post-body .inside>.avia_meta_box_textarea .avia_section, #post-body .inside>.avia_meta_box_checkbox .avia_section, #post-body .inside>.avia_meta_box_select .avia_section,  #post-body .inside>.avia_meta_box_upload .avia_section, #post-body .inside>.avia_meta_box_visual_group_start .avia_meta_default_boxed{
background: none repeat scroll 0 0 #F8F8F8;
border: 1px solid #E2EAED;
clear: both;
margin-bottom: 7px;
min-width: 467px;
overflow: hidden;
padding: 15px;
}


#post-body #postbox-container-1 .avia_section{
	min-width:0px;
}


.inside .avia_description{
line-height: 1.7em;
float:none;
width:auto;
padding-bottom:3px;
}

.inside .avia_checkbox .avia_description{
width:90%;
position: relative;
left:20px;
}

.inside .avia_checkbox input{
position: relative;
top:-20px;
}

.inside #avia_slideshow .avia_single_set{
min-height:170px;
}

.av-meta-extra-inside{
	padding: 0 12px 12px;
	line-height: 1.4em;
	font-size: 13px;
}


/****************menu manager****************/



#wpwrap .avia_mega_menu_options .avia_checkbox input{
display: block;
float: left;
margin: 2px 7px 11px 0;
}



.avia_mega_menu,
.avia_mega_label,
div .item-type-avia,
div .item-type-megafied,
.avia_mega_active.menu-item-depth-2 .description-title,
.avia_mega_active.menu-item-depth-3 .description-title{
display:none;
}

div .item-type-avia{
	text-align: right;
}

.avia_mega_menu select{
max-width:390px;
}

.menu-item-depth-0 .avia_mega_menu_d0,
.avia_mega_active.menu-item-depth-1 .avia_mega_menu_d1,
.avia_mega_active.menu-item-depth-2 .avia_mega_menu_d2,
.avia_mega_active.menu-item-depth-3 .avia_mega_menu_d2,
.avia_mega_active.menu-item-depth-4 .avia_mega_menu_d2,
.avia_mega_active.menu-item-depth-5 .avia_mega_menu_d2,
.avia_mega_active.menu-item-depth-6 .avia_mega_menu_d2,
.avia_mega_active.menu-item-depth-7 .avia_mega_menu_d2,
.avia_mega_active.menu-item-depth-8 .avia_mega_menu_d2
{
display:block;
}

/*depth 0 Specials*/
/*legacy css*/
.branch-3-4 .avia_mega_active.menu-item-depth-0 .item-type-megafied
.branch-3-5 .avia_mega_active.menu-item-depth-0 .item-type-megafied
.branch-3-6 .avia_mega_active.menu-item-depth-0 .item-type-megafied
.branch-3-7 .avia_mega_active.menu-item-depth-0 .item-type-megafied{
display:inline;
font-size: 9px;
font-style: italic;
}

/*actual css*/
.avia_mega_active.menu-item-depth-0 .item-type-megafied{
display:inline-block; font-style: italic;
}

.avia_mega_active.menu-item-depth-0 .item-type-default{display:none;}


/*depth1 specials*/
.avia_mega_active.menu-item-depth-1 .field-description, .avia_mega_active.menu-item-depth-1 .link-to-original, .avia_mega_active.menu-item-depth-1 .description-title, .avia_mega_active.menu-item-depth-1 .avia_default_label, .avia_mega_active.menu-item-depth-1 .field-url, .avia_mega_active.menu-item-depth-1 .item-type-default{
display:none;
}

.avia_mega_active.menu-item-depth-1 .avia_mega_label{
display:inline;
}

.avia_mega_active.menu-item-depth-1 .item-type-avia{
display:inline-block;
color: #333333;
}

.avia_mega_active.menu-item-depth-2 .field-description, .avia_mega_active.menu-item-depth-3 .field-description, .avia_mega_active.menu-item-depth-4 .field-description, .avia_mega_active.menu-item-depth-5 .field-description, .avia_mega_active.menu-item-depth-6 .field-description, .avia_mega_active.menu-item-depth-7 .field-description, .avia_mega_active.menu-item-depth-8 .field-description{
display:block;
}

.avia_long_desc{
overflow: hidden;
display: block;
}

.avia_mega_active.menu-item-depth-1 .avia_label_desc_on_active{
height:auto;
width:auto;
float:none;
}

.avia_mega_active .avia_label_desc_on_active .avia_supersmall{
font-size: 11px;
color:#888;
display:inline-block;
padding:0 0 3px 0;
}


.avia_conditional_checkbox input {
display: block;
float: left;
margin-bottom: 11px;
margin-right: 7px;
}


/****************general****************/

#avia_options_page h4{
margin:0 0 6px 0;
font-size:13px;
color:#364247;
}

#wpwrap .avia_button {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
display: inline-block;
font-family: "Trebuchet MS",sans-serif;
margin: 0;
padding: 6px 17px;
background: #5c951e url(../images/layout/bg-button.png) repeat-x top left;
border: 1px solid #5c951e;
color:#fff;
cursor:pointer;
outline: none;
font-size: 12px;
text-decoration: none;
text-shadow:1px -1px 0 #5C951E;
}

#wpwrap .avia_button:hover{
background-color: #6faf2a;
border: 1px solid #6faf2a;
outline: none;
}

#wpwrap .avia_button:focus{
background-color: #578e1b;
border: 1px solid #578e1b;
outline: none;
}

#wpwrap .avia_button.avia_button_inactive, #wpwrap .avia_button.avia_button_inactive:hover , #wpwrap .avia_button.avia_button_inactive:focus{
cursor: default;
background-color: #aaa;
border: 1px solid #aaa;
padding: 6px 17px;
text-shadow:1px -1px 0 #999;
}


#wpwrap .avia_button_grey{
background-color: #87949D;
border: 1px solid #87949D;
text-shadow:1px -1px 0 #999;
}

#wpwrap .avia_button_grey:hover , #wpwrap .avia_button_grey:focus{
background-color: #d54e21;
border: 1px solid #d54e21;
text-shadow:1px -1px 0 #d54e21;
}



.avia_style_wrap{
position: relative;
display:inline-block;
padding:6px;
background: transparent url(../images/layout/bg-style-wrap.png) repeat-x top center;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
max-width: 100%;
}



#wpwrap .avia_hidden{
display:none;
}


.avia_clear{
clear:both;
}






/****************Form elements****************/

#avia_options_page textarea{
padding: 7px;
width: 260px;
color: #586970;
height:120px;
line-height: 1.5em;
font-size: 11px;
}

#wpwrap .avia_style_wrap input{
padding: 8px;
width: 260px;
color: #586970;
max-width: 100%;
}

#wpwrap .avia_upload_style_wrap input{
width: 175px;
}

#wpwrap .avia_upload_style_wrap .avia_button{
font-size: 11px;
line-height: 34px;
padding: 0;
text-align: center;
width: 75px;
top: -1px;
position: relative;
}

.avia_advanced_upload .avia_upload_input {
display:none;
}

#wpwrap .avia_style_wrap select{
color: #586970;
height: 32px;
padding: 7px;
width: 260px;
background: #fff;
position: relative;
z-index: 10;
opacity: 0;
cursor: pointer;
max-width: 100%;
}

#wpwrap .avia_style_wrap .avia_select_unify{
color: #586970;
display:inline-block;
border:1px solid #E2EAED;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
z-index: 1;
background: #fff url(../images/layout/select.png) no-repeat right center;
cursor: pointer;
position: relative;
}

.avia_select_fake_val {
    color: #586970;
    font-size: 11px;
    left: 7px;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 83%;
    z-index: 2;
    height: 31px;
}

#wpwrap .avia_multiple_select .avia_select_unify{
background: none;
border:none;
}

#wpwrap .avia_multiple_select .avia_select_unify .avia_select_fake_val{
display: none;
}

#wpwrap .avia_multiple_select select{
opacity: 1;
}

#wpwrap .avia_style_wrap option {
padding: 5px;
}

#wpwrap .avia_imgselect .avia_control{

}

#wpwrap .avia_imgselect .avia_radio_wrap{
	overflow: hidden;
	position: relative;
	padding-bottom: 0;
	margin-top: -1px;
}

#wpwrap .avia_imgselect input{
	visibility: hidden;
	opacity: 0;
	position: absolute;
}

#wpwrap .avia_imgselect label{
	box-shadow: inset 0 0 1px rgba(0,0,0,0.2);
	display: block;
	width: 100%;
	overflow: hidden;
	padding: 10px;
}

#wpwrap .avia_imgselect label span{
	display: block;
	float: left;
	height: 70px;
	padding: 10px 0 0 20px;
}

#wpwrap .avia_imgselect img{
	display: block;
	float: left;
	max-width: 70px;
	max-height: 70px;
}

#wpwrap .avia_imgselect input:checked + label{
	background-color: #E1E1E1;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

.avia_radio_wrap{
display:block;
padding-bottom:3px;
}

.avia_radio_wrap label{
color: #586970;
display: inline-block;
font-size: 11px;
padding: 0 0 0 5px;
vertical-align: bottom;
}

#wpwrap div .avia_auto_detector input{
width:135px;
}

.avia_auto_detector .avia_color_picker_div{
right:auto;
left:113px;
}


#wpwrap  div .avia_autodetect, #wpwrap  div .avia_autodetect:focus{
margin-left:10px;
font-size: 11px;
line-height: 27px;
padding: 0;
text-align: center;
width: 110px;
}

.avia_auto_detector .avia_loading{
right: 155px;
top: 2px;
}


#wpwrap .avia_multiple_select select{
height:130px;
}

#wpwrap .avia_multiple_select{
background: transparent url(../images/layout/bg-style-wrap.png) repeat-x top center;
}

/*upload gallery preview pics avia_gallery_image*/

#avia_gallery_image .avia_preview_pic{
display:none !important;
}

.avia_gallery_thumb{
border:1px solid #e1e1e1;
float:left;
margin:0 5px 5px 0;
background: #fff;
padding:3px;
width:80px;
height:80px;
}

.avia_gallery_thumb_inner{
width:80px;
height:80px;
float:left;
overflow: hidden;
}

.avia_gallery_thumb img{
max-height: 80px;
display:block;
}

.inside .avia_control{
width:auto;
float:none;
}


/*shortcodes*/

#menu_content_content_scn_button_menu_tbl{
background: #fafafa url(../images/layout/bg.png) repeat-x top left;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px
}

#menu_content_content_scn_button_menu_tbl .mceText {
color:#333;
}


/*option page builder*/

/*
		deprecated 4.8 - can be removed later - only kept for a fallback

div .avia_dynamical_add_elements .avia_control,
div .avia_create_options_page .avia_control{
width:100%;
position: absolute;
top:45px;
}

div .avia_dynamical_add_elements .avia_description,
div .avia_create_options_page .avia_description{
position: relative;
width:100%;
top:50px;
}

div .avia_dynamical_add_elements .avia_control_container,
div .avia_create_options_page .avia_control_container{
padding-bottom: 50px;
}


.avia_remove_dynamic_page{
border-bottom: 1px solid #E2EAED;
border-left: 1px solid #E2EAED;
display: block;
float: left;
font-size: 10px;
height: 24px;
line-height: 24px;
outline: medium none;
overflow: hidden;
padding:0 4px 0 24px;
position: absolute;
right: 1px;
text-decoration: none;
text-indent: 0;
top: 49px;
z-index: 30;
background: url("../images/icons/bin_closed.png") no-repeat scroll 3px center #FFFFFF;
color: #666;
}

.avia_sidebar_active .avia_remove_dynamic_page{
right: 1px;
top: 1px;
}

.avia_remove_dynamic_element {
background: url("../images/icons/close.png") no-repeat scroll 3px center #FFFFFF;
border-left: 1px solid #E2EAED;
border-top: 1px solid #E2EAED;
bottom: 0;
color: #D54E21;
display: block;
float: left;
font-size: 10px;
height: 24px;
line-height: 24px;
outline: medium none;
overflow: hidden;
padding: 0 4px 0 18px;
position: absolute;
right: 1px;
text-decoration: none;
text-indent: 0;
z-index: 30;
}

.avia_remove_dynamic_element span{
display:none;
overflow: hidden;
width:0;
}

.avia_remove_dynamic_element:hover span{
width:auto;
padding-left:6px;
display:block;
}

.avia_beside_button_loading {
    right: -46px;
    top: 3px;
}

.avia_removable_element_loading{
right: 1px;
bottom:0px;
z-index: 200;
}*/


#wpwrap #avia_options_page div .avia_pseudo_sortable .avia_required_container{
float:right;
}


/*++++++++++++option pages exceptions:++++++++++++++*/



.avia_target .avia_target_inside{
min-height:100px;
overflow: hidden;
}


/*widget page*/

#wpwrap .widget-inside .avia_select_style_wrap{
background: none;
padding:0;
display:block;
}

#wpwrap .widget-inside .avia_select_style_wrap select{
width:225px;
}


/*metabox exceptions*/

.avia_meta_default{
display:block;
overflow: hidden;
}

.avia_meta_block{
display:block;
overflow: hidden;
max-width: 280px;
margin:0 20px 10px 0;
float:left;
}

div .avia_wrap{
border:1px solid #E2EAED;
background: #fff;
padding: 10px;
}

.avia_meta_description{
border:1px solid #E2EAED;
background: #fff;
padding: 10px;
background: #f8f8f8;
}

.avia_meta_description .avia_meta_box{
padding-bottom:10px;
}









/*drag and drop*/


.avia_row{
display:block;
clear:both;
overflow: hidden;
padding:5px;
}


.avia-row-portlet-header{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 1px solid #aaaaaa;
font-weight: bold;
height: auto;
line-height: 35px;
overflow: hidden;
padding-left: 10px;
position: relative;
text-shadow: 1px -1px 0 #999999;
color:#fff;
width: 98%;
word-wrap: break-word;
background: url("../images/layout/bg-button.png") repeat-x scroll left top #aaaaaa;
cursor: move;
z-index: 3;
}


.avia-item-edit {
    background: url("../images/layout/sort_arrow_down.png") no-repeat scroll -11px -10px transparent;
    display: block;
    height: 36px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    text-indent: -999em;
    top: 0;
    width: 23px;
    border-left:1px solid #999;

}

.avia-portlet-content{
border:1px solid #eee;
background: #fff;
padding:20px 10px 10px 10px;
position: relative;
top:-10px;
z-index: 2;
background: none repeat scroll 0 0 #F9F9F9;
border-color: #E6E6E6;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
display: none;
overflow: hidden;
}

.avia_style_wrap_portlet{
display:block;
background-position: top center;
}

div #avia_options_page .avia_row .avia_section, div #avia_options_page .avia_row .avia_single_set, div #avia_options_page .avia_row  .avia_visual_set {
width:auto;
padding:0;
float:none;
background: none;
border:none;
}

div #avia_options_page .avia_row .avia_set{
background: transparent;
}


div #avia_options_page .avia_row .avia_section .avia_style_wrap{
left:0;
}



.avia_row .avia_clone_set, .avia_row .avia_remove_set{
display: none;
}

.avia-portlet-content textarea{
position: relative;
left:6px;
}

#wpwrap #avia_options_page .avia_pseudo_sortable{
padding:10px;
border:1px solid #e1e1e1;
margin:5px 0;
background: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
overflow: hidden !important;
}

#wpwrap #avia_options_page .avia_pseudo_sortable .avia_section{
width:50%;
float:left;
clear:none;
overflow: hidden;
}

#wpwrap #avia_options_page .avia_pseudo_sortable .avia_section textarea{
left:0;
}

.ui-sortable-placeholder {
	border: 1px dashed #999;
	background: #eee;
	visibility: visible !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.menu-item-edit-inactive .ui-sortable-placeholder:not(.menu-item-handle){
	margin: 0 5px;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}


/*updates: new elements*/

div .avia_link_controller .avia_description, div .avia_link_controller .avia_control{
float:none;
width:100%;
}


.link_controller_list a{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
display: inline-block;
font-family: "Trebuchet MS",sans-serif;
padding: 6px 0;
background: #5C951E url(../images/layout/bg-button.png) repeat-x top left;
color: white;
cursor: pointer;
outline: none;
font-size: 12px;
text-decoration: none;
margin:3px 3px 0 0;
opacity:0.3;
width:70px;
text-align: center;
}

.link_controller_list a.avia_link_controller_active{
opacity: 1;
}


/************************************************************************
NEW GALLERY MODULE
*************************************************************************/

.avia_sortable_gallery_container .avia_gallery_image a{
overflow: hidden;
display:block;
width:32px;
height:32px;
position: relative;
z-index: 2;
}

.avia_sortable_gallery_container .set_is_open .avia_gallery_image a {
width: 110px;
height: auto;
}

.avia_sortable_gallery_container .set_is_open .avia_gallery_image a img{
max-width:95%;
height:auto;
padding:2%;
border: 1px solid #E1E1E1;
background: #fff;
max-height: 200px;
}

.avia_gallery_image_vid.avia_gallery_image a img{
max-width:26px;
max-height:26px;
background: #fff;
border: 1px solid #E1E1E1;
padding:2px;
}


.avia_sortable_gallery_container .avia_gallery_image a {
display: block;
}


#wpwrap .slideshow_video_input.video_active{
display:block;
}

#wpwrap .slideshow_video_input {
z-index: 3;
position: absolute;
top: 0px;
border: none;
background: transparent;
left: 34px;
color: #777;
width:45%;
padding:8px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

#wpwrap .slideshow_video_input:hover{
background: #fff;
border: 1px solid #E1E1E1;
padding:7px;
}

#wpwrap .set_is_open .slideshow_video_input{
background: #fff;
border: 1px solid #E1E1E1;
left:108px;
width:45%;
top:0px;
padding:7px;
}


.avia_sortable_gallery_container{
overflow: hidden;
margin-bottom: 10px;
max-width: 700px;
min-width: 300px;
background: #f8f8f8;
position: relative;
z-index: 10;
}

.avia_sortable_gallery_container>.avia_set:first-child{
border-top:1px solid #e1e1e1;
}

.avia_sortable_gallery_container>.avia_set{
height:32px;
overflow: hidden;
border:1px solid #e1e1e1;
border-top:none;
padding:5px;
position: relative;
}

div .avia_sortable_gallery_container .set_is_open{
height:auto;
}

.avia_sortable_gallery_container .open_set{
position: absolute;
top:-5px;
right: -5px;
font-size: 11px;
display: block;
line-height: 44px;
padding:0 15px;
z-index: 2;
border:1px solid #e1e1e1;
border-top: none;
border-right: none;
min-width: 27px;
}


.avia_sortable_gallery_container .open_set:hover, #wpwrap .set_is_open .open_set{
background: #fff;
}

.avia_gallery_image_value, #wpwrap .slideshow_video_input{
display: none;
}

.avia_sortable_gallery_container .avia_handle {
display: block;
position: absolute;
height: 44px;
cursor: move;
z-index: 1;
top: -5px;
left: -5px;
width: 106%;
}

.avia_sortable_gallery_container .ui-sortable-placeholder {
border: 1px dashed #e1e1e1; background:#fcfcfc; visibility: visible !important;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
margin:0 0;
}

#wpwrap .avia_sortable_gallery_container .avia_remove_set {
display: block;
height: auto;
line-height: 44px;
padding:0 15px;
border:none;
width: auto;
position: absolute;
bottom: auto;
left: auto;
right:51px;
top:-5px;
background: none;
border:none;
outline: none;
text-indent: 0;
z-index: 2;
font-size: 11px;
font-style: italic;
color:#bbb;
}

#wpwrap .avia_remove_set:hover{
color:#D54E21;
}
.avia_sortable_gallery_container .avia_handle:hover{
background: #fcfcfc;
}




#wpwrap #wpcontent .avia_tab_container{
margin-top:45px;
border:1px solid #e1e1e1;
background: #fff;
padding:20px 3%;
position: relative;
width:94%;
float: left;
}

#wpwrap #wpcontent #avia_options_page .avia_tab_container {
margin: 45px 2% 10px 2%;
width: 90%;
}


#wpwrap #wpcontent .avia_tab_container .tab-title-container {
position: absolute;
top: -34px;
left: -1px;
z-index: 10;
min-width: 400px;
}

#wpwrap #wpcontent .avia_tab_container .tab-title-container a {
background: #f8f8f8;
border: 1px solid #E1E1E1;
border-bottom: none;
display: block;
float: left;
padding: 0px 6px;
margin-right: 1px;
font-size: 11px;
line-height: 32px;
height:32px;
color:#aaa;
text-decoration: none;
}

#wpwrap #wpcontent .avia_tab_container .tab-title-container a.avia_active_tab_title{
background: #fff;
line-height: 32px;
height:33px;
color:#666;
}

#wpwrap #wpcontent div.av_2columns.av_col_1, #wpwrap #wpcontent div.av_2columns.av_col_2{
float:left;
width:47%;
min-width:260px;
margin-bottom:5px;
clear:none;
}

#wpwrap #wpcontent div.av_2columns.av_col_1{
	clear: both;
}

#wpwrap #wpcontent .avia_tab_container .avia_single_set, #wpwrap #wpcontent .avia_tab_container .avia_visual_set{
border:none;
background: none;
padding:0;
}

#wpwrap #wpcontent .avia_tab_container .avia_section{
width: 100%;
padding: 7px 0;
}

#wpwrap #wpcontent .avia_tab_container div.av_2columns.av_col_1, #wpwrap #wpcontent .avia_tab_container div.av_2columns.av_col_2{
width:48%;
margin-bottom:2%;
}

#wpwrap #wpcontent .avia_tab_container .avia_heading{
	width: 94%;
	padding: 3%;
	border: 1px solid #E1E1E1;
	background: #F8F8F8;
	margin-bottom: 15px;
}

#wpwrap #wpcontent .avia_tab_container .avia_heading.av-no-border{
	border: none;
	padding: 1%;
	margin-bottom: 0;
}

#wpwrap #wpcontent .avia_heading.avia_heading_boxed{
width: 96%;
padding: 3%;
border: 1px solid #E1E1E1;
background: #F8F8F8;
margin: 0 auto;
float: none;
}



#slideshow_meta, #slideshow_meta_portfolio, #add_options{
overflow: hidden;
}


#wpwrap #wpcontent div .avia_tab_container .avia_section.av_2columns.av_col_1, #wpwrap #wpcontent div .avia_tab_container .avia_visual_set.av_2columns.av_col_1{
clear:both;
margin-right:4%;
}



#wpwrap .avia_tab_container .avia_upload_style_wrap input {
width: 170px;
}


#wpwrap #wpcontent .avia_tab_container div.av_2columns.av_col_1, #wpwrap #wpcontent .avia_tab_container div.av_2columns.av_col_2{
padding:0;
}

#wpwrap #wpcontent .avia_meta_box>.avia_section.av_2columns.av_col_1{
margin-right:3px;
}

#wpwrap #wpcontent .avia_meta_box>.avia_section.av_2columns.av_col_1, #wpwrap #wpcontent .avia_meta_box>.avia_section.av_2columns.av_col_2{
width:43%;
min-width:270px;
clear:none;
}

#wpwrap #wpcontent .avia_meta_box>.avia_section.av_2columns.av_col_1{
clear:both;
}

.av_2columns textarea{
width:99%

}

.avia-send-to-editor{
display:none;
}

#wpwrap #wpcontent .avia_gallery_upload_container .avia_style_wrap a.avia_button {
width:auto;
padding:0px 20px;
min-width:120px;
}

.ml-submit{display: block; position: relative;}


.inactive_visible .avia_inactive_overlay{
display:block;
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
background: rgba(255,255,255,0.8);
text-align: center;
z-index: 1100;
color:#fff;
}

#avia_options_page .avia_visual_set.inactive_visible{
padding:0; background: transparent;
}

.inactive_visible .avia_inactive_overlay span{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: rgba(0,0,0,0.9);
position: absolute;
top:42%;
left:50%;
margin-left:-35%;
display: block;
padding:10px;
width:70%;
text-align: center;
}

.inactive_visible .avia_inactive_overlay a{color:#2EA2CC;}

.inactive_visible{ display:block !important; }
.avia_tab.inactive_visible{ display:none !important; }
.avia_active_tab.inactive_visible{ display:block !important; }


.inactive_visible.avia_visible .avia_inactive_overlay{
display:none;
}

.avia_video_insert_table{
margin-top:15px;
}

.avia_video_insert_height_mod #TB_window, .avia_video_insert_height_mod #TB_iframeContent {
height:350px !important;
}

.avia_video_insert_height_mod #TB_window{
top:50% !important;
margin-top:-175px !important;
}

.iframe_height_mod_active{
height:auto;
}

.avia_button_container{
position: relative;
}

.avia_hr {
padding:0 0 20px 0;
width:100%;
position: relative;
overflow: hidden;
clear:both;
}

.avia_hr.small-hr{
padding: 0 20px 20px;
}

.avia_inner_hr{
padding:20px 0 0 0;
border-bottom: 1px solid #E1E1E1;
width:100%;
position: relative;
overflow: hidden;
clear:both;
}

/*4 columns*/
#wpwrap #avia_options_page .avia_section.av_4columns,
#wpwrap #avia_options_page .avia_section.av_4col{
	float: left;
	width: 22%;
	margin: 0;
	clear: none;
	padding: 10px 0% 10px 3%;
	background-image: none;
}

#wpwrap #avia_options_page .avia_section.av_4columns.av_col_1,
#wpwrap #avia_options_page .avia_section.av_4col.av_col_1{
	clear:both;
}

#wpwrap #avia_options_page .avia_section.av_4columns.av_no_desc .avia_control{
	width: 100%;
}

/*3 columns*/

#wpwrap .avia_section.av_3columns .avia_description, #wpwrap .avia_section.av_3columns .avia_control{
width:auto;
float:none;
clear: both;
}

#wpwrap #avia_options_page .avia_section.av_3columns, #wpwrap #avia_options_page .avia_section.av_3col{
float:left;
width:30%;
margin:0;
clear:none;
padding:10px 0% 10px 3%;
background-image: none;
}

#avia_options_page .avia_section.av_3col.avia_checkbox .avia_description{
width: 87%;
}

#wpwrap #avia_options_page .avia_section.av_3columns select, #wpwrap #avia_options_page .avia_section.av_3columns input{
width:180px;
}

#wpwrap #avia_options_page .avia_section.av_3columns .avia_style_wrap{

}

#wpwrap #avia_options_page .avia_section.av_3columns.av_col_1, #wpwrap #avia_options_page .avia_section.av_3col.av_col_1{
clear:both;
}


/*2 columns*/

#wpwrap .avia_section.av_2columns .avia_description, #wpwrap .avia_section.av_2columns .avia_control{
width:auto;
float:none;
clear: both;
}

#wpwrap #avia_options_page .avia_section.av_2columns{
float:left;
width:45%;
margin:0;
clear:none;
padding:10px 0% 10px 3%;
}

#wpwrap #avia_options_page .avia_section.av_2columns select, #wpwrap #avia_options_page .avia_section.av_2columns input{
}

#wpwrap #avia_options_page .avia_section.av_2columns .avia_style_wrap{

}

#wpwrap #avia_options_page .avia_section.av_3columns.av_col_1{
clear:both;
}

.mce-tinymce .mce-ico.mce-i-scn_button{
background: transparent url(../php/avia_shortcodes/tinymce/img/icon.png) center center no-repeat;
}
html .mce-menu{max-height:410px;}

/*angular adds*/

#wpwrap .inner-sidebar .avia_style_wrap input {
width: 210px;
}

#wpwrap #avia_options_page .avia_logobar .avia_single_set .av_col_1{
width:17%;
min-width:0;
clear:both;
}




/*instant editor*/
.avia_instant_editor, .avia_active_editor, .avia_instant_editor textarea{
z-index:100;
position: relative;
}

/*
.avia_instant_editor{
-webkit-transform: 	 scale(1.5);
-moz-transform: 	 scale(1.5);
-o-transform: 		 scale(1.5);
-ms-transform: 		 scale(1.5);
transform: 			 scale(1.5);
background: #fff;
padding:4px;
}

.avia_instant_editor .avia_editor_button{
-webkit-transform: 	 scale(0.5);
-moz-transform: 	 scale(0.5);
-o-transform: 		 scale(0.5);
-ms-transform: 		 scale(0.5);
transform: 			 scale(0.5);
display:block;
float:left;
}
*/

.avia_instant_editor{

background: #fff;
padding:4px;
}

.avia_instant_editor .avia_editor_button{
overflow: hidden;
width:24px;
height:24px;
line-height:24px;
text-align: center;
display:block;
float:left;
border:1px solid #e1e1e1;
margin-right:2px;
margin-bottom:2px;
cursor: pointer;
text-decoration: none;
font-size: 12px;
}

div .avia_editor_button.avia_table_button{
width:50px;
}




/*choices addition*/


#wpwrap #avia_options_page .avia_pseudo_sortable .avia_section .avia_control {
width: 100%;
}


/*photophelia addition*/
.avia_gallery_delete_all{
min-width: 0 !important;
}

.avia_delete_style_wrap{float:right;}
.button_bar{
overflow: hidden;

max-width: 700px;
min-width: 300px;
}


/*eunoia additions*/

#avia_sidebar .avia_single_set .avia_control{width:100%;}

/*enfold addition*/
.group_inside{
padding-top:0 !important;
padding-bottom:0 !important;
border:none !important;
}

.avia-update-count{
border-radius: 100px;
width: 16px;
height:16px;
font-size: 10px;
line-height: 16px;
text-align: center;
display: inline-block;
margin-left:5px;
background-color: #464646;
color: #FFF;
-webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}

#avia_update_notification .avia_description{display:none;}
#avia_update_notification .avia_control{width:100%;}


.avia_backend_theme_updates {
padding: 10px 20px 25px 20px;
background: #FFF;
border: 1px solid #E1E1E1;
text-align: center;
}

.avia_backend_theme_updates .avia_theme_update_php{
	padding: 20px 0 0 0;
	text-align: left;
}


#avia_options_page .avia_section.avia_checkbox .avia_control{width:16px;}
#avia_options_page .avia_section.avia_checkbox .avia_description{width:96%;}

.avia_checkbox label{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}



.avia-popup .avia_file_upload{
background: #f7f7f7;
border: 1px solid #e1e1e1;
padding:15px;
text-align: center;
margin: 2px;
}

.avia-popup .avia_file_upload input[type="file"]{
display:block; width:auto;
padding:15px;
margin:0 auto;
}

.avia_file_upload .button{margin-top:10px;}

.av-error{padding:0px 10px; margin-right:20px; font-size: 12px; color: #D37878;  background: #fff; border:1px dashed #D37878; }

/*verification field*/

.avia_verification_field{

}

div .avia_verification_field .avia_control{
	width:100%
}

#wpwrap .avia_verification_field .avia_upload_style_wrap input{
	width:360px;
}

#wpwrap .avia_verification_field .avia_upload_style_wrap .avia_button{
	width: 210px;
	padding:0;
}

#avia_mailchimp_api{
	min-height: 303px;
}

.av-verification-response-wrapper{
	margin-top:20px;
}

.av-verification-response-wrapper .av-text-notice{
	margin-bottom:0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: #5c951e;
	border: #5c951e;
	padding: 15px 10px;
}

.av-verification-mailchimp-list{

}

.av-verification-cell{
	border:1px solid #e1e1e1;
	border-top: none;
	padding:10px;
	line-height: 1.6em;
}

.av-verification-cell-heading{
	background: #f8f8f8;
}

.av-verification-cell-sub{
	padding-left:39px;
}

.av-verification-required{
	color: #5c951e;
}

.avia_verification_field .avia_verify_input{
	left:0;
}


.av-verification-extra-data{
	color:#aaa;
	font-size: 12px;
}

.av-verification-extra-data-right{
	float: right;
}


/*avia iconfont manager*/

.avia_iconfont_manager,
.avia_typefont_manager{
background: #FFF;
border: 1px solid #E1E1E1;
position: relative;
margin-top: 14px;
width:90%;
}

.avia_typefont_manager:empty{
	border: none;
}

.avia_iconfont_manager .avia-available-font,
.avia_typefont_manager .avia-available-font{
padding:10px;
border-bottom: 1px dashed #e1e1e1;
overflow: hidden;
clear: both;
}

.avia_iconfont_manager .avia-available-font:first-child{
	display:none;
}

.avia_iconfont_manager .avia-available-font:last-child,
.avia_typefont_manager .avia-available-font:last-child{
border:none;
}

.avia_iconfont_manager .avia-def-font,
.avia_typefont_manager .avia-def-font{
text-decoration: none;
cursor: default;
}

.avia_iconfont_manager .avia-def-font,
.avia_iconfont_manager .avia-del-font,
.avia_typefont_manager .avia-def-font,
.avia_typefont_manager .avia-del-font{
color: #aaa;
font-size: 11px;
float:right;
}

div .avia_iconfont_manager .avia-del-font,
div .avia_typefont_manager .avia-del-font{
color:#D54E21;
cursor:pointer;
text-decoration: underline;
}

div .avia_iconfont_manager .avia-del-font:hover,
div .avia_typefont_manager .avia-del-font:hover{
	text-decoration: none;
}

#wpwrap .av-highlight{
-webkit-animation: 	avia_simple_highlight 1.7s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
-moz-animation: 	avia_simple_highlight 1.7s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
-o-animation: 		avia_simple_highlight 1.7s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
animation: 			avia_simple_highlight 1.7s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

@-webkit-keyframes avia_simple_highlight {
  0%   {  opacity:0.5; background-color: #6FAF2A;}
  100% {  opacity:1;  background-color: #fff;}
}
@-moz-keyframes avia_simple_highlight {
  0%   {  opacity:0.5; background-color: #6FAF2A;}
  100% {  opacity:1;  background-color: #fff;}
}
@-o-keyframes avia_simple_highlight {
  0%   {  opacity:0.5; background-color: #6FAF2A;}
  100% {  opacity:1;  background-color: #fff;}
}
@keyframes avia_simple_highlight {
  0%   {  opacity:0.5; background-color: #6FAF2A;}
  100% {  opacity:1;  background-color: #fff;}
}

/*avia simple pipup*/

.avia-popup {
top:40%;
position: fixed;
left:50%;
margin-left:-200px;
z-index: 15000;
max-width: 100%;
width:400px;
overflow: auto;
-webkit-animation: avia_simple_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
-moz-animation: avia_simple_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
-o-animation: avia_simple_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
animation: avia_simple_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
background: #fff;
overflow: hidden;
}

.av-modal-window-autoposition{
margin-left:0;
width:auto;
top:50%;
-webkit-transform: 	translate(-50%, -50%);
-moz-transform: 	translate(-50%, -50%);
-ms-transform: 		translate(-50%, -50%);
-o-transform: 		translate(-50%, -50%);
transform: 			translate(-50%, -50%);
-webkit-animation: none;
-moz-animation: none;
-o-animation: none;
animation:none;

}

.av-modal-window-autoposition img{

}

.avia-popup-inner{
border: 1px solid #e1e1e1;
padding:22px;
}


.avia-popup-backdrop {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
min-height: 360px;
background: #000;
opacity: .7;
z-index: 14000;
}

.avia-popup .popup-close{
position: absolute;
height:24px;
width:24px;
line-height: 24px;
background: #333;
color: #fff;
top:-1px;
right:-1px;
text-align: center;
text-decoration: none;
font-family: Arial, sans-serif;
}

.wp-admin .avia-popup .button{
line-height: 36px;
height: 36px;
padding: 0px 20px;
display: inline-block;
float: none;
}

.avia-popup-button-container{
text-align: center;
}

.avia-custom-rules{width:100%; min-height:300px;}


@-webkit-keyframes avia_simple_pop {
  0%   { -webkit-transform:scale(0.8); opacity:0; }
  100% { -webkit-transform:scale(1); opacity:1;  }
}
@-moz-keyframes avia_simple_pop {
  0%   { -moz-transform:scale(0.8); opacity:0; }
  100% { -moz-transform:scale(1); opacity:1;  }
}
@-o-keyframes avia_simple_pop {
  0%   { -o-transform:scale(0.8); opacity:0; }
  100% { -o-transform:scale(1); opacity:1;  }
}
@keyframes avia_simple_pop {
  0%   { transform:scale(0.8); opacity:0; }
  100% { transform:scale(1); opacity:1;  }
}




/*avia avia_styling_wizard */


#avia_options_page .avia_styling_wizard .avia_control, #avia_options_page .avia_styling_wizard .avia_description{width:100%; float:none;}
#avia_options_page .add_wizard_el_button{margin-left:5px;}
.av-wizard-element-container {
clear: both;
border-top: 1px solid #E2EAED;
margin-top: 27px;
width: 103%;
left: -20px;
padding: 11px;
position: relative;
background: #F8F8F8;
overflow: hidden;
min-height: 171px;
}
.av-wizard-element{padding:10px; margin-bottom:10px; background: #fff; border: 1px solid #E2EAED; position: relative;}
.av-wizard-element.av-wizard-with-extra{padding-bottom:2px;}

.av-wizard-element, .av-wizard-form-elements{overflow: hidden; clear:both;}
#avia_options_page .avia_styling_wizard.avia_section{padding-bottom:0px;}


.av-wizard-description{ color:#888; font-size: 12px;}

.av-wizard-element .subname{ color:#888; font-size: 11px; text-indent: 2px; }
.av-wizard-form-elements{margin-top:5px;}
.av-wizard-element .avia_color_picker_div { top: 6px; right: 4px; }

#avia_options_page .av-wizard-element .avia_style_wrap{margin:0 5px 0px 0; max-width: 95%; left:0; background: transparent; padding:0;}
#avia_options_page .av-wizard-subcontainer .avia_style_wrap .avia_select_unify{border-radius: 1px; }
#avia_options_page .av-wizard-subcontainer .avia_style_wrap .avia_select_fake_val{top: 2px;}
#avia_options_page .av-wizard-subcontainer{ float: left; margin-bottom:6px;}
#avia_options_page .av-wizard-subcontainer select{width:78px; height: 34px}
#avia_options_page .av-wizard-subcontainer-colorpicker{width:108px; }

#avia_options_page .av-wizard-subcontainer-bottom-box{clear:both; width:100%; margin-bottom:6px;  color:#888; font-size: 11px; }
#avia_options_page .av-wizard-subcontainer-bottom-box label {margin-right:16px;}
.av-wizard-checkbox-label-section{padding-bottom:3px; display:block;}
.av-wizard-delimiter { padding-top: 7px; margin-bottom: 7px; border-bottom: 1px dashed #E2EAED; display: block; clear: both; }
#avia_options_page .av-wizard-element input[type="checkbox"]{margin-right:2px; top: 1px; position: relative;}
.av-wizard-element .avia_select_fake_val{width: 55%; white-space: pre;}
#wpwrap .av-wizard-element .avia_style_wrap .avia_color_picker{font-size: 13px;}

#avia_options_page .av-wizard-subcontainer.av-wizard-subcontainer-hr{
	float:none; clear:both;
}



/*3.5 media frame image only*/
.av-media-frame-image-only .media-frame-menu{display:none;}
.av-media-frame-image-only .media-frame-content, .av-media-frame-image-only .media-frame-title, .av-media-frame-image-only .media-frame-router, .av-media-frame-image-only .media-frame-toolbar{left:0;}
.av-media-frame-image-only .media-sidebar .setting{display:none;}
.av-media-frame-image-only .media-sidebar .attachment-display-settings > *{display:none;}
.av-media-frame-image-only .media-sidebar .attachment-display-settings > label:last-child{display:block;}

/*5.3 media frame image only changed layout*/
.av-media-frame-image-only.avia-wp-53 .media-frame-menu-heading{display:none;}
.av-media-frame-image-only.avia-wp-53 .attachment-display-settings > span:last-child{display:block;}


/*added with enfold 4.3: plugin check*/
#avia_options_page .avia_plugin_check h4 {
    font-size: 18px;
    color: #111;
}

#avia_options_page div .avia_plugin_check{
	color: #888;
    line-height: 1.65em;
   }

.av-plugin-check-wrap{
	background: #fcfcfc;
	width:48%;
	float:left;
	padding:2%;
	margin-right:2%;
	margin-top:2%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.av-plugin-check-wrap ul{
margin-left:10px;
}

.av-plugin-check-wrap ul li{
	list-style-position: outside;
	list-style-type: disc;
}

.av-plugin-check-wrap:nth-child(even){
	/*clear:both;			removed 4.8.7 - breaks layout when only 1 plugin used in a tab */
}

.avia_responsive_images_overview .av-plugin-check-wrap{
	width: 100%;
	margin-top: 0;
}
.avia_responsive_images_overview .av-plugin-check-wrap li{
	margin-left: 25px;
	line-height: 1.0em;
	color: #999;
}

.av-plugin-result-title{
	margin-top:15px;
}

.av-plugin-check-wrap-inner{
	display: table;
	table-layout: fixed;
	width: 100%;
}

.av-plugin-check-wrap-inner > *{
	display: table-cell;
	vertical-align: middle;
}

.av-plugin-check-wrap-image, .av-plugin-check-wrap-image img{
	width:64px;
}

.av-plugin-check-wrap-content{padding:0px 20px;}
.av-plugin-check-wrap-desc{padding:0px 20px 0px 20px}

.av-plugin-check-wrap-recommend .av-plugin-check-wrap-image,  .av-plugin-check-wrap-recommend .av-plugin-check-wrap-image img{
	width:48px;
}

#wpwrap a.avia_button_small {
    padding: 11px 20px;
    line-height: 15px;
    min-width: 150px;
    text-align: center;
    margin-right: 5px;
}

.av-plugin-check-wrap-button{text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e9e9e9;}


#avia_options_page .avia_sidebar_active .avia_section.avia_template_builder_element_loader{
	padding:20px 0;
}

#avia_options_page .avia_sidebar_active .avia_section.avia_template_builder_element_loader .avia-sc-element-used{
	color: #ff0033;
}

#avia_options_page .avia_sidebar_active .avia_section.avia_template_builder_element_loader .avia-sc-element-unused{
	color: #00b500;
}

#avia_options_page .avia_sidebar_active .avia_section.avia_template_builder_element_loader .avia-sc-element-usage_info{
	margin: 0 20px;
}


/*WP 5.0*/

body .wp-block{
	max-width: 1400px;
}



/*enfold 4.6.3*/
#wpwrap #avia_options_page div .avia_visual_set.avia_boxed_visual_group {
    padding: 1px;
    background: #f8f8f8;
    width: 97%;
    margin: 15px auto;
    float: none;
    overflow: hidden;
    border: 1px solid #e1e1e1;
}
